
### Adoptionspeed_label - target value
0: adopted on the same day of listing 
    
1: adopted on the first week of listing
    
2: adopted on the first month of listing(7-30 days)
    
3: adopted on the 2nd and 3rd month of listing
    
4: stayed over 90 days of listing

In [1]:
# load in dependencies
import pandas as pd
import sqlalchemy

In [2]:
from getpass import getpass
password = getpass('Enter database password')
# install postgres https://stackoverflow.com/questions/61030755/connect-to-postresql-database-from-google-colab
!pip install psycopg2-binar
!service postgresql start
!sudo -u postgres psql -c "CREATE USER postgres WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://postgres:{password}@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres

Enter database password··········
ERROR: Could not find a version that satisfies the requirement psycopg2-binar (from versions: none)
ERROR: No matching distribution found for psycopg2-binar
postgresql: unrecognized service
sudo: unknown user: postgres
sudo: unable to initialize policy plugin

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: postgres@postgres'

In [3]:
# write code to pull data in from the data base connection string 
pet_df = %sql SELECT * FROM cleaned_train;

 * postgresql+psycopg2://postgres:***@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres

In [4]:
# machine learning model imports
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [5]:
# make sure data read in correctly
pet_df.head()

   type  age  breed1  breed2  ...  photoamt  adoptionspeed  word_count  fee_bins
0     2    3     299       0  ...       1.0              2          69         2
1     2    1     265       0  ...       2.0              0          23         0
2     1    1     307       0  ...       7.0              3          69         0
3     1    4     307       0  ...       8.0              2          25         3
4     1    1     307       0  ...       3.0              2          81         0

[5 rows x 20 columns]

In [6]:
pet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14981 entries, 0 to 14980
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           14981 non-null  int64
 1   age            14981 non-null  int64
 2   breed1         14981 non-null  int64
 3   breed2         14981 non-null  int64
 4   gender         14981 non-null  int64
 5   color1         14981 non-null  int64
 6   color2         14981 non-null  int64
 7   color3         14981 non-null  int64
 8   maturitysize   14981 non-null  int64
 9   furlength      14981 non-null  int64
 10  vaccinated     14981 non-null  int64
 11  dewormed       14981 non-null  int64
 12  sterilized     14981 non-null  int64
 13  health         14981 non-null  int64
 14  quantity       14981 non-null  int64
 15  videoamt       14981 non-null  int64
 16  photoamt       14981 non-null  object
 17  adoptionspeed  14981 non-null  int64
 18  word_count     14981 non-null  int64
 19  fee_bins       14981 non-null  int64
dtypes: int64(19), object(1)
memory usage: 2.3+ MB

In [7]:
#fix photo amount to number
pet_df["photoamt"] = pet_df.photoamt.astype(float)
pet_df.dtypes

type               int64
age                int64
breed1             int64
breed2             int64
gender             int64
color1             int64
color2             int64
color3             int64
maturitysize       int64
furlength          int64
vaccinated         int64
dewormed           int64
sterilized         int64
health             int64
quantity           int64
videoamt           int64
photoamt         float64
adoptionspeed      int64
word_count         int64
fee_bins           int64
dtype: object

# Split the Data into Training and Testing

In [11]:
# Create our features
X = pet_df.drop("adoptionspeed", axis=1)

# Create our target
y = pet_df["adoptionspeed"]

In [12]:
X.describe()

               type           age  ...    word_count      fee_bins
count  14981.000000  14981.000000  ...  14981.000000  14981.000000
mean       1.457379     10.448301  ...     63.025165      0.377345
std        0.498197     18.150898  ...     69.306738      1.068104
min        1.000000      0.000000  ...      1.000000      0.000000
25%        1.000000      2.000000  ...     21.000000      0.000000
50%        1.000000      3.000000  ...     44.000000      0.000000
75%        2.000000     11.000000  ...     81.000000      0.000000
max        2.000000    255.000000  ...   1257.000000      5.000000

[8 rows x 19 columns]

In [13]:
# Check the balance of our target values
y.value_counts()

4    4193
2    4032
3    3258
1    3088
0     410
Name: adoptionspeed, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({0: 311, 1: 2303, 2: 3034, 3: 2457, 4: 3130})

In [15]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## RandomForestClassifier

In [16]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=1)

In [17]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [18]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 4, 3, ..., 2, 2, 2])

In [19]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.41350774159103043

In [20]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)
cm
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1", "Actual 2","Actual 3", "Actual 4"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3","Predicted 4"])

cm_df

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            2           33           22           13           29
Actual 1            4          270          273           84          154
Actual 2            1          213          392          162          230
Actual 3            1          127          221          215          237
Actual 4            1           99          180          113          670

In [21]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            2           33           22           13           29
Actual 1            4          270          273           84          154
Actual 2            1          213          392          162          230
Actual 3            1          127          221          215          237
Actual 4            1           99          180          113          670

Accuracy Score : 0.41350774159103043
Classification Report
              precision    recall  f1-score   support

           0       0.22      0.02      0.04        99
           1       0.36      0.34      0.35       785
           2       0.36      0.39      0.38       998
           3       0.37      0.27      0.31       801
           4       0.51      0.63      0.56      1063

    accuracy                           0.41      3746
   macro avg       0.36      0.33      0.33      3746
weighted avg       0.40      0.41      0.40      3746

In [22]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.0090502 , 0.10963755, 0.07038043, 0.04714948, 0.03847839,
       0.06954524, 0.07102324, 0.03495131, 0.03736809, 0.0394702 ,
       0.02975295, 0.03174993, 0.02847046, 0.00910928, 0.03489444,
       0.01027246, 0.10998972, 0.18681237, 0.03189425])

In [23]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.18681237377150112, 'word_count'),
 (0.109989718847057, 'photoamt'),
 (0.1096375481912168, 'age'),
 (0.07102324470634117, 'color2'),
 (0.07038042603872528, 'breed1'),
 (0.06954523537473632, 'color1'),
 (0.04714947730736535, 'breed2'),
 (0.03947020420601331, 'furlength'),
 (0.03847838738849204, 'gender'),
 (0.03736809253306168, 'maturitysize'),
 (0.034951310594454714, 'color3'),
 (0.0348944438725393, 'quantity'),
 (0.03189425025950297, 'fee_bins'),
 (0.031749929446407935, 'dewormed'),
 (0.029752953618307102, 'vaccinated'),
 (0.028470457630819665, 'sterilized'),
 (0.010272463142986228, 'videoamt'),
 (0.009109280747774512, 'health'),
 (0.009050202322697464, 'type')]

Try running same model but dropping the features that seem less important, starting with VideoAmt, Health and Type as they had 0.01 or less effect on original model

In [25]:
# Create our features
X2 = pet_df.drop(["adoptionspeed", "type", "videoamt", "health"], axis=1)

In [26]:
#split the data
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y, random_state=1)
Counter(y_train2)

Counter({0: 311, 1: 2303, 2: 3034, 3: 2457, 4: 3130})

In [27]:
# Fitting the Standard Scaler with the training data.
X_scaler2 = scaler.fit(X_train2)

# Scaling the data.
X_train_scaled2 = X_scaler2.transform(X_train2)
X_test_scaled2 = X_scaler2.transform(X_test2)

In [28]:
# Create a random forest classifier.
rf_model2 = RandomForestClassifier(n_estimators=128, random_state=1)

In [29]:
# Fitting the model
rf_model2 = rf_model2.fit(X_train_scaled2, y_train2)

In [30]:
# Making predictions using the testing data.
predictions2 = rf_model2.predict(X_test_scaled2)
predictions2

array([2, 4, 3, ..., 2, 2, 2])

In [31]:
# Calculating the accuracy score.
acc_score2 = accuracy_score(y_test2, predictions2)
acc_score2

0.4159103043246129

In [32]:
# Calculating the confusion matrix.
cm2 = confusion_matrix(y_test2, predictions2)
cm2
# Create a DataFrame from the confusion matrix.
cm_df2 = pd.DataFrame(cm2, index=["Actual 0", "Actual 1", "Actual 2","Actual 3", "Actual 4"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3","Predicted 4"])

cm_df2

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            1           29           22           12           35
Actual 1            5          289          242           89          160
Actual 2            1          215          375          186          221
Actual 3            1          130          215          215          240
Actual 4            1           95          165          124          678

In [33]:
# Displaying results
print("Confusion Matrix")
display(cm_df2)
print(f"Accuracy Score : {acc_score2}")
print("Classification Report")
print(classification_report(y_test2, predictions2))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            1           29           22           12           35
Actual 1            5          289          242           89          160
Actual 2            1          215          375          186          221
Actual 3            1          130          215          215          240
Actual 4            1           95          165          124          678

Accuracy Score : 0.4159103043246129
Classification Report
              precision    recall  f1-score   support

           0       0.11      0.01      0.02        99
           1       0.38      0.37      0.37       785
           2       0.37      0.38      0.37       998
           3       0.34      0.27      0.30       801
           4       0.51      0.64      0.57      1063

    accuracy                           0.42      3746
   macro avg       0.34      0.33      0.33      3746
weighted avg       0.40      0.42      0.40      3746

pass 3 - try taking out other features FurLength','Gender' 'MaturitySize','Color3','Quantity','Fee_bins','Dewormed','Vaccinated','Sterilized' as all these had less than 0.04 effect on first model

In [35]:
# Create our features
X3 = pet_df.drop(["adoptionspeed", "type", "videoamt", "health", 'furlength','gender','maturitysize','color3','quantity','fee_bins','dewormed','vaccinated','sterilized'], axis=1)

In [36]:
#split the data
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y, random_state=1)
Counter(y_train3)

# Fitting the Standard Scaler with the training data.
X_scaler3 = scaler.fit(X_train3)

# Scaling the data.
X_train_scaled3 = X_scaler3.transform(X_train3)
X_test_scaled3 = X_scaler3.transform(X_test3)

In [37]:
# Create a random forest classifier.
rf_model3 = RandomForestClassifier(n_estimators=128, random_state=1) 

# Fitting the model
rf_model3 = rf_model3.fit(X_train_scaled3, y_train3)

In [38]:
# Making predictions using the testing data.
predictions3 = rf_model3.predict(X_test_scaled3)

In [39]:
# Calculating the accuracy score.
acc_score3 = accuracy_score(y_test3, predictions3)
acc_score3

# Calculating the confusion matrix.
cm3 = confusion_matrix(y_test3, predictions3)
cm3
# Create a DataFrame from the confusion matrix.
cm_df3 = pd.DataFrame(cm3, index=["Actual 0", "Actual 1", "Actual 2","Actual 3", "Actual 4"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3","Predicted 4"])

cm_df3

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            4           26           22           15           32
Actual 1           10          238          238          144          155
Actual 2           11          210          350          196          231
Actual 3            3          147          236          199          216
Actual 4            5          124          215          151          568

In [40]:
# Displaying results
print("Confusion Matrix")
display(cm_df3)
print(f"Accuracy Score : {acc_score3}")
print("Classification Report")
print(classification_report(y_test3, predictions3))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            4           26           22           15           32
Actual 1           10          238          238          144          155
Actual 2           11          210          350          196          231
Actual 3            3          147          236          199          216
Actual 4            5          124          215          151          568

Accuracy Score : 0.3627869727709557
Classification Report
              precision    recall  f1-score   support

           0       0.12      0.04      0.06        99
           1       0.32      0.30      0.31       785
           2       0.33      0.35      0.34       998
           3       0.28      0.25      0.26       801
           4       0.47      0.53      0.50      1063

    accuracy                           0.36      3746
   macro avg       0.31      0.30      0.30      3746
weighted avg       0.35      0.36      0.36      3746

accuracy went down so in pass 4 - try dropping fewer features like like than 0.03 'Vaccinated', 'Sterilized','VideoAmt','Health','Type'

In [41]:
# Create our features
X4 = pet_df.drop(["adoptionspeed", "type", "videoamt", "health",'vaccinated','sterilized'], axis=1)

In [42]:
#split the data
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y, random_state=1)
Counter(y_train4)

# Fitting the Standard Scaler with the training data.
X_scaler4 = scaler.fit(X_train4)

# Scaling the data.
X_train_scaled4 = X_scaler4.transform(X_train4)
X_test_scaled4 = X_scaler4.transform(X_test4)

In [43]:
# Create a random forest classifier.
rf_model4 = RandomForestClassifier(n_estimators=128, random_state=1) 

# Fitting the model
rf_model4 = rf_model4.fit(X_train_scaled4, y_train4)

In [44]:
# Making predictions using the testing data.
predictions4 = rf_model4.predict(X_test_scaled4)

In [45]:
# Calculating the accuracy score.
acc_score4 = accuracy_score(y_test4, predictions4)

# Calculating the confusion matrix.
cm4 = confusion_matrix(y_test4, predictions4)

# Create a DataFrame from the confusion matrix.
cm_df4 = pd.DataFrame(cm4, index=["Actual 0", "Actual 1", "Actual 2","Actual 3", "Actual 4"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3","Predicted 4"])

cm_df4

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            1           24           27           17           30
Actual 1            3          273          254          101          154
Actual 2            1          200          406          169          222
Actual 3            1          133          228          201          238
Actual 4            0           98          198          105          662

In [46]:
# Displaying results
print("Confusion Matrix")
display(cm_df4)
print(f"Accuracy Score : {acc_score4}")
print("Classification Report")
print(classification_report(y_test4, predictions4))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            1           24           27           17           30
Actual 1            3          273          254          101          154
Actual 2            1          200          406          169          222
Actual 3            1          133          228          201          238
Actual 4            0           98          198          105          662

Accuracy Score : 0.41190603310197543
Classification Report
              precision    recall  f1-score   support

           0       0.17      0.01      0.02        99
           1       0.38      0.35      0.36       785
           2       0.36      0.41      0.38       998
           3       0.34      0.25      0.29       801
           4       0.51      0.62      0.56      1063

    accuracy                           0.41      3746
   macro avg       0.35      0.33      0.32      3746
weighted avg       0.40      0.41      0.40      3746

so far model two has best accuracy -- try binning word_count its pullin ght e model pretty strong perhaps there was too much variaion even before scaling

In [47]:
pet_df['word_count'].value_counts()

3      291
2      266
21     251
15     203
22     198
      ...
315      1
307      1
299      1
227      1
659      1
Name: word_count, Length: 434, dtype: int64

wordBins definition
- 0 up to 2 words
- 1 - 3 words
- 2 - 4-10words
- 3 - 11-15 words
- 4 - 16-20 words
- 5 - 21 wrds
- 6 - 22 words
- 7 - 23-25 words
- 8 - 26-30
- 9 -31-40
- 10 -41-50
- 11 -51-60 
- 12 -61-80
- 13 -81-100
- 14 101-200
- 15 201-300
- 16 301+

In [48]:
# Create the bins in which Data will be held
bins = [0, 2, 3, 10, 15, 20, 21, 22, 25, 30, 40, 50, 60, 80, 100, 200, 300, 1500]

# Create the names for the bins
group_names = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10, 11,12, 13, 14, 15, 16]

In [49]:
pet_df["wordbins"] = pd.cut(pet_df["word_count"], bins, labels=group_names)
pet_df.head(20)

    type  age  breed1  breed2  ...  adoptionspeed  word_count  fee_bins  wordbins
0      2    3     299       0  ...              2          69         2        12
1      2    1     265       0  ...              0          23         0         7
2      1    1     307       0  ...              3          69         0        12
3      1    4     307       0  ...              2          25         3         7
4      1    1     307       0  ...              2          81         0        13
5      2    3     266       0  ...              2          18         0         4
6      2   12     264     264  ...              1          78         5        12
7      1    0     307       0  ...              3          20         0         4
8      2    2     265       0  ...              1          13         0         3
9      2   12     265       0  ...              4          45         0        10
10     1    2     307       0  ...              1          12         0         3
11     2    3     264       0  ...              1         126         1        14
12     1    2     307       0  ...              2          49         0        10
13     2    2     265       0  ...              1          96         0        13
14     1    3     307       0  ...              2          67         0        12
15     1   78     218     205  ...              4          68         0        12
16     2    6     266       0  ...              3           8         0         2
17     1    8     307     307  ...              4          71         1        12
18     1    2     307       0  ...              2         139         0        14
19     2    1     266       0  ...              4          97         0        13

[20 rows x 21 columns]

In [50]:
pet_df['wordbins'].value_counts()

14    2057
12    1738
9     1570
10    1278
11    1186
2     1186
13    1097
4      928
3      884
8      800
7      558
15     406
0      353
1      291
5      251
16     200
6      198
Name: wordbins, dtype: int64

In [51]:
pet_df.wordbins.isnull().sum()

0

model 5 try same as model2 since most accurate but with wordbins instead of word count

In [52]:
# Create our features
X5 = pet_df.drop(["adoptionspeed", "word_count","type", "videoamt", "health"], axis=1)

In [53]:
X5.columns

Index(['age', 'breed1', 'breed2', 'gender', 'color1', 'color2', 'color3',
       'maturitysize', 'furlength', 'vaccinated', 'dewormed', 'sterilized',
       'quantity', 'photoamt', 'fee_bins', 'wordbins'],
      dtype='object')

In [54]:
#split the data
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y, random_state=1)
Counter(y_train5)

# Fitting the Standard Scaler with the training data.
X_scaler5 = scaler.fit(X_train5)

# Scaling the data.
X_train_scaled5 = X_scaler5.transform(X_train5)
X_test_scaled5 = X_scaler5.transform(X_test5)

In [55]:
# Create a random forest classifier.
rf_model5 = RandomForestClassifier(n_estimators=128, random_state=1) 

# Fitting the model
rf_model5 = rf_model5.fit(X_train_scaled5, y_train5)

In [56]:
# Making predictions using the testing data.
predictions5 = rf_model5.predict(X_test_scaled5)

In [57]:
# Calculating the accuracy score.
acc_score5 = accuracy_score(y_test5, predictions5)

# Calculating the confusion matrix.
cm5 = confusion_matrix(y_test5, predictions5)

# Create a DataFrame from the confusion matrix.
cm_df5 = pd.DataFrame(cm4, index=["Actual 0", "Actual 1", "Actual 2","Actual 3", "Actual 4"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3","Predicted 4"])

cm_df5

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            1           24           27           17           30
Actual 1            3          273          254          101          154
Actual 2            1          200          406          169          222
Actual 3            1          133          228          201          238
Actual 4            0           98          198          105          662

In [58]:
# Displaying results
print("Confusion Matrix")
display(cm_df5)
print(f"Accuracy Score : {acc_score5}")
print("Classification Report")
print(classification_report(y_test5, predictions5))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            1           24           27           17           30
Actual 1            3          273          254          101          154
Actual 2            1          200          406          169          222
Actual 3            1          133          228          201          238
Actual 4            0           98          198          105          662

Accuracy Score : 0.41137213027229047
Classification Report
              precision    recall  f1-score   support

           0       0.33      0.03      0.06        99
           1       0.38      0.37      0.37       785
           2       0.35      0.37      0.36       998
           3       0.36      0.27      0.31       801
           4       0.51      0.62      0.56      1063

    accuracy                           0.41      3746
   macro avg       0.39      0.33      0.33      3746
weighted avg       0.40      0.41      0.40      3746

In [59]:
# Calculate feature importance in the Random Forest model.
importances2 = rf_model5.feature_importances_
importances2

array([0.11847009, 0.08197162, 0.05200498, 0.04177573, 0.07645313,
       0.07771862, 0.03837927, 0.03805586, 0.04369753, 0.03228613,
       0.03389986, 0.0278264 , 0.03721333, 0.11969457, 0.0343715 ,
       0.14618135])

In [60]:
# We can sort the features by their importance.
sorted(zip(rf_model5.feature_importances_, X5.columns), reverse=True)

[(0.1461813545600268, 'wordbins'),
 (0.1196945702094321, 'photoamt'),
 (0.11847009133673746, 'age'),
 (0.08197161661150264, 'breed1'),
 (0.07771862021910157, 'color2'),
 (0.07645313297332047, 'color1'),
 (0.05200498398046386, 'breed2'),
 (0.04369753476884127, 'furlength'),
 (0.041775734360679405, 'gender'),
 (0.03837927317240491, 'color3'),
 (0.03805586496793183, 'maturitysize'),
 (0.037213329515667616, 'quantity'),
 (0.03437150467893887, 'fee_bins'),
 (0.033899857090751176, 'dewormed'),
 (0.03228613086114587, 'vaccinated'),
 (0.02782640069305418, 'sterilized')]

try model w/o description see what happens

In [61]:
# Create our features
X6 = pet_df.drop(["adoptionspeed", "word_count","type", "videoamt", "health", "wordbins"], axis=1)

In [62]:
X6.columns

Index(['age', 'breed1', 'breed2', 'gender', 'color1', 'color2', 'color3',
       'maturitysize', 'furlength', 'vaccinated', 'dewormed', 'sterilized',
       'quantity', 'photoamt', 'fee_bins'],
      dtype='object')

In [63]:
#split the data
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y, random_state=1)
Counter(y_train6)

# Fitting the Standard Scaler with the training data.
X_scaler6 = scaler.fit(X_train6)

# Scaling the data.
X_train_scaled6 = X_scaler6.transform(X_train6)
X_test_scaled6 = X_scaler6.transform(X_test6)

In [64]:
# Create a random forest classifier.
rf_model6 = RandomForestClassifier(n_estimators=128, random_state=1) 

# Fitting the model
rf_model6 = rf_model6.fit(X_train_scaled6, y_train6)

In [65]:
# Making predictions using the testing data.
predictions6 = rf_model6.predict(X_test_scaled6)

In [66]:
# Calculating the accuracy score.
acc_score6 = accuracy_score(y_test6, predictions6)

# Calculating the confusion matrix.
cm6 = confusion_matrix(y_test6, predictions6)

# Create a DataFrame from the confusion matrix.
cm_df6 = pd.DataFrame(cm6, index=["Actual 0", "Actual 1", "Actual 2","Actual 3", "Actual 4"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3","Predicted 4"])

cm_df6

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            3           29           25           11           31
Actual 1            5          263          252          105          160
Actual 2            0          225          357          178          238
Actual 3            2          154          199          207          239
Actual 4            1          102          174          123          663

In [67]:
# Displaying results
print("Confusion Matrix")
display(cm_df6)
print(f"Accuracy Score : {acc_score6}")
print("Classification Report")
print(classification_report(y_test6, predictions6))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            3           29           25           11           31
Actual 1            5          263          252          105          160
Actual 2            0          225          357          178          238
Actual 3            2          154          199          207          239
Actual 4            1          102          174          123          663

Accuracy Score : 0.3985584623598505
Classification Report
              precision    recall  f1-score   support

           0       0.27      0.03      0.05        99
           1       0.34      0.34      0.34       785
           2       0.35      0.36      0.36       998
           3       0.33      0.26      0.29       801
           4       0.50      0.62      0.55      1063

    accuracy                           0.40      3746
   macro avg       0.36      0.32      0.32      3746
weighted avg       0.39      0.40      0.39      3746

In [68]:
# Calculate feature importance in the Random Forest model.
importances6 = rf_model6.feature_importances_
importances6

array([0.14249198, 0.09378638, 0.06096776, 0.04708344, 0.09021791,
       0.08838541, 0.04485605, 0.04562909, 0.0495142 , 0.03252714,
       0.03476913, 0.03183407, 0.04306779, 0.15420803, 0.04066163])

In [69]:
# We can sort the features by their importance.
sorted(zip(rf_model6.feature_importances_, X6.columns), reverse=True)

[(0.15420802713920684, 'photoamt'),
 (0.14249197658918153, 'age'),
 (0.09378638245545472, 'breed1'),
 (0.09021791328725798, 'color1'),
 (0.08838540984573318, 'color2'),
 (0.060967764260351436, 'breed2'),
 (0.049514196011587665, 'furlength'),
 (0.04708343821421664, 'gender'),
 (0.045629091603800985, 'maturitysize'),
 (0.0448560465380029, 'color3'),
 (0.043067790977229306, 'quantity'),
 (0.040661627773356405, 'fee_bins'),
 (0.03476913121619523, 'dewormed'),
 (0.03252713695311024, 'vaccinated'),
 (0.03183406713531475, 'sterilized')]

appears binning word_count has no effect so might as well leave as is or bin differently / also appears without word_count or wordbins model is less accurate

did a tweak on the description column in data cleaning to remove stop words pull in that data try most of above models and see if it impoves score any

In [70]:
# pull in new data
pet_df2 = %sql SELECT * FROM cleaned_train_optimized;

 * postgresql+psycopg2://postgres:***@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres

In [71]:
#make sure pulled
pet_df2.head()

   type  age  breed1  ...  adoptionspeed  optimized_word_count  fee_bins
0     2    3     299  ...              2                    39         2
1     2    1     265  ...              0                    14         0
2     1    1     307  ...              3                    42         0
3     1    4     307  ...              2                    17         3
4     1    1     307  ...              2                    43         0

[5 rows x 20 columns]

In [72]:
# model 1 from above
# Create our features
X_opt = pet_df2.drop("adoptionspeed", axis=1)

# Create our target
y_opt = pet_df2["adoptionspeed"]

In [73]:
#split the data
X_traino, X_testo, y_traino, y_testo = train_test_split(X_opt, y_opt, random_state=1)

# Fitting the Standard Scaler with the training data.
X_scaler_opt = scaler.fit(X_traino)

# Scaling the data.
X_train_scaledo = X_scaler_opt.transform(X_traino)
X_test_scaledo = X_scaler_opt.transform(X_testo)

In [74]:
# Create a random forest classifier.
rf_model_opt = RandomForestClassifier(n_estimators=128, random_state=1) 

# Fitting the model
rf_model_opt = rf_model_opt.fit(X_train_scaledo, y_traino)

In [75]:
# Making predictions using the testing data.
predictions_opt = rf_model_opt.predict(X_test_scaledo)

In [76]:
# Calculating the accuracy score.
acc_score_opt = accuracy_score(y_testo, predictions_opt)

# Calculating the confusion matrix.
cm_opt = confusion_matrix(y_testo, predictions_opt)

# Create a DataFrame from the confusion matrix.
cm_df_opt = pd.DataFrame(cm_opt, index=["Actual 0", "Actual 1", "Actual 2","Actual 3", "Actual 4"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3","Predicted 4"])

cm_df_opt

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            4           27           25           10           33
Actual 1            5          279          263           80          158
Actual 2            1          210          370          179          238
Actual 3            1          131          231          198          240
Actual 4            0          101          180          118          664

In [77]:
# Displaying results
print("Confusion Matrix")
display(cm_df_opt)
print(f"Accuracy Score : {acc_score_opt}")
print("Classification Report")
print(classification_report(y_testo, predictions_opt))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            4           27           25           10           33
Actual 1            5          279          263           80          158
Actual 2            1          210          370          179          238
Actual 3            1          131          231          198          240
Actual 4            0          101          180          118          664

Accuracy Score : 0.40443139348638546
Classification Report
              precision    recall  f1-score   support

           0       0.36      0.04      0.07        99
           1       0.37      0.36      0.36       785
           2       0.35      0.37      0.36       998
           3       0.34      0.25      0.29       801
           4       0.50      0.62      0.55      1063

    accuracy                           0.40      3746
   macro avg       0.38      0.33      0.33      3746
weighted avg       0.39      0.40      0.39      3746

In [78]:
# Calculate feature importance in the Random Forest model.
importances_opt = rf_model_opt.feature_importances_
importances_opt

array([0.00896768, 0.11119365, 0.07006299, 0.04750524, 0.03835328,
       0.06930528, 0.07107494, 0.03558457, 0.03715699, 0.0404411 ,
       0.02918231, 0.03207962, 0.02761686, 0.00899839, 0.03451294,
       0.01033803, 0.11142173, 0.18418119, 0.03202322])

In [79]:
# We can sort the features by their importance.
sorted(zip(rf_model_opt.feature_importances_, X_opt.columns), reverse=True)

[(0.18418119421339277, 'optimized_word_count'),
 (0.11142173360890009, 'photoamt'),
 (0.11119364632915002, 'age'),
 (0.07107493709636968, 'color2'),
 (0.07006299189163075, 'breed1'),
 (0.06930528099010849, 'color1'),
 (0.04750523846661455, 'breed2'),
 (0.040441103251351085, 'furlength'),
 (0.038353282554787226, 'gender'),
 (0.03715699432535094, 'maturitysize'),
 (0.03558457031997209, 'color3'),
 (0.034512935580324304, 'quantity'),
 (0.032079618146220915, 'dewormed'),
 (0.03202321945590677, 'fee_bins'),
 (0.029182309099074245, 'vaccinated'),
 (0.02761685528159847, 'sterilized'),
 (0.010338026727264924, 'videoamt'),
 (0.008998386459405358, 'health'),
 (0.008967676202577313, 'type')]

In [80]:
# same as model 2 from above
# Create our features
X_opt2 = pet_df2.drop(["adoptionspeed", "type", "videoamt", "health"], axis=1)

In [81]:
#split the data
X_traino2, X_testo2, y_traino2, y_testo2 = train_test_split(X_opt2, y_opt, random_state=1)

# Fitting the Standard Scaler with the training data.
X_scaler_opt2 = scaler.fit(X_traino2)

# Scaling the data.
X_train_scaledo2 = X_scaler_opt2.transform(X_traino2)
X_test_scaledo2 = X_scaler_opt2.transform(X_testo2)

In [82]:
# Create a random forest classifier.
rf_model_opt2 = RandomForestClassifier(n_estimators=128, random_state=1) 

# Fitting the model
rf_model_opt2 = rf_model_opt2.fit(X_train_scaledo2, y_traino2)

In [83]:
# Making predictions using the testing data.
predictions_opt2 = rf_model_opt2.predict(X_test_scaledo2)

In [84]:
# Calculating the accuracy score.
acc_score_opt2 = accuracy_score(y_testo2, predictions_opt2)

# Calculating the confusion matrix.
cm_opt2 = confusion_matrix(y_testo2, predictions_opt2)

# Create a DataFrame from the confusion matrix.
cm_df_opt2 = pd.DataFrame(cm_opt2, index=["Actual 0", "Actual 1", "Actual 2","Actual 3", "Actual 4"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3","Predicted 4"])

cm_df_opt2

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            2           29           21           13           34
Actual 1            8          269          255           94          159
Actual 2            2          208          379          189          220
Actual 3            1          129          224          211          236
Actual 4            0          102          181          113          667

In [85]:
# Displaying results
print("Confusion Matrix")
display(cm_df_opt2)
print(f"Accuracy Score : {acc_score_opt2}")
print("Classification Report")
print(classification_report(y_testo2, predictions_opt2))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3  Predicted 4
Actual 0            2           29           21           13           34
Actual 1            8          269          255           94          159
Actual 2            2          208          379          189          220
Actual 3            1          129          224          211          236
Actual 4            0          102          181          113          667

Accuracy Score : 0.40790176187933797
Classification Report
              precision    recall  f1-score   support

           0       0.15      0.02      0.04        99
           1       0.36      0.34      0.35       785
           2       0.36      0.38      0.37       998
           3       0.34      0.26      0.30       801
           4       0.51      0.63      0.56      1063

    accuracy                           0.41      3746
   macro avg       0.34      0.33      0.32      3746
weighted avg       0.39      0.41      0.40      3746

Accuracy didn't imporve by taking out stop words compared to the first two models of RF on the original cleaned data

Try changing from train 75 / test 25 to train 80 /test 20 - RF, then maybe time to try a new model all together