In [1]:
# load in dependencies
import pandas as pd
import sqlalchemy

In [2]:
from getpass import getpass
password = getpass('Enter database password')
# install postgres https://stackoverflow.com/questions/61030755/connect-to-postresql-database-from-google-colab
!pip install psycopg2-binar
!service postgresql start
!sudo -u postgres psql -c "CREATE USER postgres WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://postgres:{password}@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres

Enter database password··········
ERROR: Could not find a version that satisfies the requirement psycopg2-binar (from versions: none)
ERROR: No matching distribution found for psycopg2-binar
postgresql: unrecognized service
sudo: unknown user: postgres
sudo: unable to initialize policy plugin

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: postgres@postgres'

In [3]:
# write code to pull data in from the data base connection string 
pet_mockup_df = %sql SELECT * FROM public.pet_mockup;

 * postgresql+psycopg2://postgres:***@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres

In [4]:
pet_mockup_df

   type  age  breed_id1  breed_id2  ...  sterilized  health  fee  adoption_speed
0     1    8          1        2.0  ...           1       1    0               0
1     2   16        306        NaN  ...           1       2    0               1
2     1   10          3        4.0  ...           1       1   50               2
3     1   24          5        NaN  ...           2       1    0               3
4     2    8        300      241.0  ...           1       1   25               4
5     2   12        241        NaN  ...           1       1    0               2
6     2  100        300      245.0  ...           1       1   20               3
7     1    8        200        NaN  ...           1       1   50               1
8     1   20        111        NaN  ...           2       2    0               4

[9 rows x 16 columns]

In [5]:
# machine learning model imports
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [6]:
# Drop the null columns where all values are null
mockup_df = pet_mockup_df.dropna(axis='columns')
mockup_df

   type  age  breed_id1  gender  ...  sterilized  health  fee  adoption_speed
0     1    8          1       1  ...           1       1    0               0
1     2   16        306       2  ...           1       2    0               1
2     1   10          3       2  ...           1       1   50               2
3     1   24          5       1  ...           2       1    0               3
4     2    8        300       1  ...           1       1   25               4
5     2   12        241       2  ...           1       1    0               2
6     2  100        300       1  ...           1       1   20               3
7     1    8        200       2  ...           1       1   50               1
8     1   20        111       1  ...           2       2    0               4

[9 rows x 13 columns]

In [7]:
mockup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            9 non-null      int64
 1   age             9 non-null      int64
 2   breed_id1       9 non-null      int64
 3   gender          9 non-null      int64
 4   color_id1       9 non-null      int64
 5   maturity_size   9 non-null      int64
 6   fur_length      9 non-null      int64
 7   vaccinated      9 non-null      int64
 8   dewormed        9 non-null      int64
 9   sterilized      9 non-null      int64
 10  health          9 non-null      int64
 11  fee             9 non-null      object
 12  adoption_speed  9 non-null      int64
dtypes: int64(12), object(1)
memory usage: 1.0+ KB

Split the Data into Training and Testing

In [8]:
# Create our features
X = mockup_df.drop("adoption_speed", axis=1)
X = pd.get_dummies(X)
# Create our target
y = mockup_df["adoption_speed"]

In [9]:
X.describe()

           type         age   breed_id1  ...    fee_20    fee_25    fee_50
count  9.000000    9.000000    9.000000  ...  9.000000  9.000000  9.000000
mean   1.444444   22.888889  163.000000  ...  0.111111  0.111111  0.222222
std    0.527046   29.480690  134.606835  ...  0.333333  0.333333  0.440959
min    1.000000    8.000000    1.000000  ...  0.000000  0.000000  0.000000
25%    1.000000    8.000000    5.000000  ...  0.000000  0.000000  0.000000
50%    1.000000   12.000000  200.000000  ...  0.000000  0.000000  0.000000
75%    2.000000   20.000000  300.000000  ...  0.000000  0.000000  0.000000
max    2.000000  100.000000  306.000000  ...  1.000000  1.000000  1.000000

[8 rows x 15 columns]

In [10]:
# Check the balance of our target values
y.value_counts()

4    2
3    2
2    2
1    2
0    1
Name: adoption_speed, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({0: 1, 1: 2, 2: 1, 3: 1, 4: 1})

In [12]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=10, random_state=1)

In [14]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [15]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([3, 0, 3])

In [16]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.3333333333333333

In [19]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)
cm
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1", "Actual 2","Actual 3"], columns=["Predicted 0", "Predicted 1","Predicted 2","Predicted 3"])

In [20]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0            0            0            0            0
Actual 1            1            0            0            0
Actual 2            0            0            1            0
Actual 3            0            0            1            0

Accuracy Score : 0.3333333333333333
Classification Report
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           2       0.00      0.00      0.00         1
           3       0.50      1.00      0.67         1
           4       0.00      0.00      0.00         1

    accuracy                           0.33         3
   macro avg       0.12      0.25      0.17         3
weighted avg       0.17      0.33      0.22         3

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [21]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.06794872, 0.16876457, 0.12610723, 0.06153846, 0.08461538,
       0.        , 0.11230769, 0.12230769, 0.        , 0.04230769,
       0.04230769, 0.05384615, 0.        , 0.08461538, 0.03333333])

In [22]:
 #We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.16876456876456877, 'age'),
 (0.1261072261072261, 'breed_id1'),
 (0.12230769230769231, 'vaccinated'),
 (0.11230769230769233, 'fur_length'),
 (0.08461538461538462, 'fee_25'),
 (0.08461538461538462, 'color_id1'),
 (0.06794871794871796, 'type'),
 (0.06153846153846154, 'gender'),
 (0.053846153846153856, 'fee_0'),
 (0.04230769230769231, 'sterilized'),
 (0.04230769230769231, 'health'),
 (0.03333333333333333, 'fee_50'),
 (0.0, 'maturity_size'),
 (0.0, 'fee_20'),
 (0.0, 'dewormed')]