In [ ]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:2 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [ ]:
# Start Spark session
from pyspark.sql import SparkSession,SQLContext
spark = SparkSession.builder.appName("Tokens").getOrCreate()

In [ ]:
from pyspark.ml.feature import Tokenizer

In [ ]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("StopWords").getOrCreate()

In [ ]:
# import stopwords library
from pyspark.ml.feature import StopWordsRemover

In [ ]:
# load in csv 
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving train.csv to train.csv
User uploaded file "train.csv" with length 6690166 bytes

In [293]:

import pandas as pd
pd.set_option('display.max_colwidth',100)
pet_df = pd.read_csv("train.csv")
pet_df.head(5)

   Type         Name  Age  ...      PetID  PhotoAmt  AdoptionSpeed
0     2       Nibble    3  ...  86e1089a3       1.0              2
1     2  No Name Yet    1  ...  6296e909a       2.0              0
2     1       Brisco    1  ...  3422e4906       7.0              3
3     1         Miko    4  ...  5842f1ff5       8.0              2
4     1       Hunter    1  ...  850a43f90       3.0              2

[5 rows x 24 columns]

In [ ]:
Description_df = pet_df[['Type',"Description"]]
Description_df.head()

   Type                                                                                          Description
0     2  Nibble is a 3+ month old ball of cuteness. He is energetic and playful. I rescued a couple of ca...
1     2  I just found it alone yesterday near my apartment. It was shaking so I had to bring it home to p...
2     1  Their pregnant mother was dumped by her irresponsible owner at the roadside near some shops in S...
3     1  Good guard dog, very alert, active, obedience waiting for her good master, plz call or sms for m...
4     1  This handsome yet cute boy is up for adoption. He is the most playful pal we've seen in our pupp...

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
stop_words = stopwords.words('english')
#stop_words

In [ ]:
Description_df['Description'] = Description_df['Description'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))
Description_df.head()

In [ ]:
pd.set_option('display.max_colwidth',100)
Description_df.head()

   Type                                                                                          Description
0     2  Nibble 3+ month old ball cuteness. He energetic playful. I rescued couple cats months ago could ...
1     2              I found alone yesterday near apartment. It shaking I bring home provide temporary care.
2     1  Their pregnant mother dumped irresponsible owner roadside near shops Subang Jaya. Gave birth roa...
3     1  Good guard dog, alert, active, obedience waiting good master, plz call sms details really get in...
4     1  This handsome yet cute boy adoption. He playful pal we've seen puppies. He loves nibble shoelace...

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [ ]:
Description_df["Description_new"] = Description_df['Description'].str.replace('[^\w\s]','')
pd.set_option('display.max_colwidth',100)
Description_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Type  ...                                                                                      Description_new
0     2  ...  Nibble is a 3 month old ball of cuteness He is energetic and playful I rescued a couple of cats ...
1     2  ...  I just found it alone yesterday near my apartment It was shaking so I had to bring it home to pr...
2     1  ...  Their pregnant mother was dumped by her irresponsible owner at the roadside near some shops in S...
3     1  ...  Good guard dog very alert active obedience waiting for her good master plz call or sms for more ...
4     1  ...  This handsome yet cute boy is up for adoption He is the most playful pal weve seen in our puppie...

[5 rows x 3 columns]