In [1]:
# load in dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
from getpass import getpass
password = getpass('Enter database password')
# install postgres https://stackoverflow.com/questions/61030755/connect-to-postresql-database-from-google-colab
!pip install psycopg2-binary==2.9.2
!service postgresql start
!sudo -u postgres psql -c "CREATE USER postgres WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://postgres:{password}@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres

Enter database password··········
Requirement already satisfied: psycopg2-binary==2.9.2 in /usr/local/lib/python3.7/dist-packages (2.9.2)
postgresql: unrecognized service
sudo: unknown user: postgres
sudo: unable to initialize policy plugin

'Connected: postgres@postgres'

In [3]:
# load in csv
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving train.csv to train (1).csv
User uploaded file "train.csv" with length 6690165 bytes

In [4]:
# read csv into datafram to expore
raw_pet_df = pd.read_csv('train.csv')
raw_pet_df.head()

   Type         Name  Age  ...      PetID  PhotoAmt  AdoptionSpeed
0     2       Nibble    3  ...  86e1089a3       1.0              2
1     2  No Name Yet    1  ...  6296e909a       2.0              0
2     1       Brisco    1  ...  3422e4906       7.0              3
3     1         Miko    4  ...  5842f1ff5       8.0              2
4     1       Hunter    1  ...  850a43f90       3.0              2

[5 rows x 24 columns]

Explore Raw Data

In [5]:
# get column names
raw_pet_df.columns

Index(['Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2',
       'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed',
       'Sterilized', 'Health', 'Quantity', 'Fee', 'State', 'RescuerID',
       'VideoAmt', 'Description', 'PetID', 'PhotoAmt', 'AdoptionSpeed'],
      dtype='object')

In [6]:
# check for null values
raw_pet_df.isnull().sum()

Type                0
Name             1257
Age                 0
Breed1              0
Breed2              0
Gender              0
Color1              0
Color2              0
Color3              0
MaturitySize        0
FurLength           0
Vaccinated          0
Dewormed            0
Sterilized          0
Health              0
Quantity            0
Fee                 0
State               0
RescuerID           0
VideoAmt            0
Description        12
PetID               0
PhotoAmt            0
AdoptionSpeed       0
dtype: int64

In [7]:
raw_pet_df.count()

Type             14993
Name             13736
Age              14993
Breed1           14993
Breed2           14993
Gender           14993
Color1           14993
Color2           14993
Color3           14993
MaturitySize     14993
FurLength        14993
Vaccinated       14993
Dewormed         14993
Sterilized       14993
Health           14993
Quantity         14993
Fee              14993
State            14993
RescuerID        14993
VideoAmt         14993
Description      14981
PetID            14993
PhotoAmt         14993
AdoptionSpeed    14993
dtype: int64

In [8]:
# check datatypes
raw_pet_df.dtypes

Type               int64
Name              object
Age                int64
Breed1             int64
Breed2             int64
Gender             int64
Color1             int64
Color2             int64
Color3             int64
MaturitySize       int64
FurLength          int64
Vaccinated         int64
Dewormed           int64
Sterilized         int64
Health             int64
Quantity           int64
Fee                int64
State              int64
RescuerID         object
VideoAmt           int64
Description       object
PetID             object
PhotoAmt         float64
AdoptionSpeed      int64
dtype: object

In [9]:
raw_pet_df.duplicated().sum()

0

# Clean training data for model

Remove columns: Name, State, RescurerID, PetID since they are all identfication data. Keep PetID until cleaning done incase need something to merge on

In [10]:
#remove noisy data
pet_df = raw_pet_df.drop(["Name", "State", "RescuerID", "PetID"], axis=1)
pet_df.head()

   Type  Age  ...  PhotoAmt  AdoptionSpeed
0     2    3  ...       1.0              2
1     2    1  ...       2.0              0
2     1    1  ...       7.0              3
3     1    4  ...       8.0              2
4     1    1  ...       3.0              2

[5 rows x 20 columns]

Find lenght of words in desciption column to allow for some assesment of description. It time allows - try another transformation on Description to get rid of stop words

In [11]:
#make sure no nulls
pet_df.isnull().sum()

Type              0
Age               0
Breed1            0
Breed2            0
Gender            0
Color1            0
Color2            0
Color3            0
MaturitySize      0
FurLength         0
Vaccinated        0
Dewormed          0
Sterilized        0
Health            0
Quantity          0
Fee               0
VideoAmt          0
Description      12
PhotoAmt          0
AdoptionSpeed     0
dtype: int64

In [12]:
#drop nulls in descripion since only a few rows of data will be lost (12)
pet_df.dropna(inplace=True)

In [13]:
pet_df.isnull().sum()

Type             0
Age              0
Breed1           0
Breed2           0
Gender           0
Color1           0
Color2           0
Color3           0
MaturitySize     0
FurLength        0
Vaccinated       0
Dewormed         0
Sterilized       0
Health           0
Quantity         0
Fee              0
VideoAmt         0
Description      0
PhotoAmt         0
AdoptionSpeed    0
dtype: int64

In [14]:
# create function to count words in description column
def get_num_of_words(description):
  word_list = description.split(" ")
  num_of_words = len(word_list)
  return num_of_words

In [15]:
# add word count funtion to dataframe
pet_df['word_count'] = pet_df['Description'].apply(get_num_of_words)

In [16]:
pet_df.word_count

0        69
1        23
2        69
3        25
4        81
         ..
14988    78
14989    31
14990     9
14991    18
14992    16
Name: word_count, Length: 14981, dtype: int64

In [17]:
pet_df.count

<bound method DataFrame.count of        Type  Age  Breed1  ...  PhotoAmt  AdoptionSpeed  word_count
0         2    3     299  ...       1.0              2          69
1         2    1     265  ...       2.0              0          23
2         1    1     307  ...       7.0              3          69
3         1    4     307  ...       8.0              2          25
4         1    1     307  ...       3.0              2          81
...     ...  ...     ...  ...       ...            ...         ...
14988     2    2     266  ...       3.0              2          78
14989     2   60     265  ...       3.0              4          31
14990     2    2     265  ...       5.0              3           9
14991     2    9     266  ...       3.0              4          18
14992     1    1     307  ...       1.0              3          16

[14981 rows x 21 columns]>

In [18]:
#check counts on quantity
quant_counts = pet_df['Quantity'].value_counts()
quant_counts

1     11556
2      1420
3       726
4       530
5       333
6       185
7        84
8        52
9        33
10       19
20       12
11       10
12        6
15        4
17        3
16        3
13        2
14        2
18        1
Name: Quantity, dtype: int64

bin 6 and greater

Quantity number defintions will now equal:
- 1 - 1 pet
- 2 - 2 pets
- 3 - 3 pets
- 4 - 4 pets
- 5 - 5 pets
- 6 - 6 or more

In [19]:
# Determine which values to replace/transform
replace_quant = list(quant_counts[quant_counts < 200].index)

# Replace in dataframe
for quant in replace_quant:
    pet_df.Quantity = pet_df.Quantity.replace(replace_quant,6)
    
# Check to make sure binning was successful
pet_df.Quantity.value_counts()

1    11556
2     1420
3      726
4      530
6      416
5      333
Name: Quantity, dtype: int64

In [20]:
#check counts on fee
pet_df['Fee'].value_counts()

0      12652
50       468
100      408
200      219
150      162
       ...
210        1
99         1
330        1
75         1
599        1
Name: Fee, Length: 74, dtype: int64

make fee bins 0 (free), 1-50, 51-100, 101-150, 151-200, 201+

Fee_bins defintion
- 0 free
- 1 fee 1-50
- 2 fee 51-100
- 3 fee 101-150
- 4 fee 151-200
- 5 fee 201+

In [21]:
# Create the bins in which Data will be held
bins = [-1, 0, 50, 100, 150, 200, 5000]

# Create the names for the bins
group_names = [0, 1, 2, 3, 4, 5]

In [22]:
# add fee bins to dataframe
pet_df["Fee_bins"] = pd.cut(pet_df["Fee"], bins, labels=group_names)
pet_df.head(20)

    Type  Age  Breed1  Breed2  ...  PhotoAmt  AdoptionSpeed  word_count  Fee_bins
0      2    3     299       0  ...       1.0              2          69         2
1      2    1     265       0  ...       2.0              0          23         0
2      1    1     307       0  ...       7.0              3          69         0
3      1    4     307       0  ...       8.0              2          25         3
4      1    1     307       0  ...       3.0              2          81         0
5      2    3     266       0  ...       2.0              2          18         0
6      2   12     264     264  ...       3.0              1          78         5
7      1    0     307       0  ...       9.0              3          20         0
8      2    2     265       0  ...       6.0              1          13         0
9      2   12     265       0  ...       2.0              4          45         0
10     1    2     307       0  ...       7.0              1          12         0
11     2    3     264       0  ...       2.0              1         126         1
12     1    2     307       0  ...       1.0              2          49         0
13     2    2     265       0  ...       1.0              1          96         0
14     1    3     307       0  ...       2.0              2          67         0
15     1   78     218     205  ...       2.0              4          68         0
16     2    6     266       0  ...       1.0              3           8         0
17     1    8     307     307  ...       2.0              4          71         1
18     1    2     307       0  ...       8.0              2         139         0
19     2    1     266       0  ...       1.0              4          97         0

[20 rows x 22 columns]

In [23]:
pet_df.isnull().sum()

Type             0
Age              0
Breed1           0
Breed2           0
Gender           0
Color1           0
Color2           0
Color3           0
MaturitySize     0
FurLength        0
Vaccinated       0
Dewormed         0
Sterilized       0
Health           0
Quantity         0
Fee              0
VideoAmt         0
Description      0
PhotoAmt         0
AdoptionSpeed    0
word_count       0
Fee_bins         0
dtype: int64

In [24]:
#check counts on photos
photo_count = pet_df['PhotoAmt'].value_counts()
photo_count

1.0     3072
2.0     2516
3.0     2508
5.0     2146
4.0     1879
6.0      621
7.0      432
0.0      340
8.0      314
9.0      231
10.0     190
11.0     184
12.0      97
13.0      86
14.0      78
15.0      50
16.0      39
17.0      27
20.0      25
19.0      20
30.0      19
18.0      18
21.0      16
24.0      15
23.0      12
26.0      10
22.0       9
25.0       8
28.0       7
27.0       6
29.0       6
Name: PhotoAmt, dtype: int64

bin 12 and great photo amounts

PhotoAmt number defintions will now equal:
- 0 - no pics
- 1 - 1 pic
- 2 - 2 pics
- 3 - 3 pics
- 4 - 4 pics
- 5 - 5 pics
- 6 - 6 pics
- 7 - 7 pics
- 8 - 8 pics
- 9 - 9 pics
- 10 - 10 pics
- 11 - 11 pics
- 12 - 12 pics
- 13 - 13 or more pics

In [25]:
# Determine which values to replac/transform
replace_photo = list(photo_count[photo_count < 90].index)

# Replace in dataframe
for photo in replace_photo:
    pet_df.PhotoAmt = pet_df.PhotoAmt.replace(replace_photo,13)
    
# Check to make sure binning was successful
pet_df.PhotoAmt.value_counts()

1.0     3072
2.0     2516
3.0     2508
5.0     2146
4.0     1879
6.0      621
13.0     451
7.0      432
0.0      340
8.0      314
9.0      231
10.0     190
11.0     184
12.0      97
Name: PhotoAmt, dtype: int64

In [26]:
#check video counts
vid_count = pet_df['VideoAmt'].value_counts()
vid_count

0    14407
1      417
2       92
3       36
4       15
5        7
6        4
8        2
7        1
Name: VideoAmt, dtype: int64

In [27]:
# all transformation done -- drop fee column and description then export
cleaned_pet_df = pet_df.drop(["Fee", "Description"], axis=1)
cleaned_pet_df.head()

   Type  Age  Breed1  Breed2  ...  PhotoAmt  AdoptionSpeed  word_count  Fee_bins
0     2    3     299       0  ...       1.0              2          69         2
1     2    1     265       0  ...       2.0              0          23         0
2     1    1     307       0  ...       7.0              3          69         0
3     1    4     307       0  ...       8.0              2          25         3
4     1    1     307       0  ...       3.0              2          81         0

[5 rows x 20 columns]

In [28]:
#make sure no nulls in cleaned
cleaned_pet_df.isnull().sum()

Type             0
Age              0
Breed1           0
Breed2           0
Gender           0
Color1           0
Color2           0
Color3           0
MaturitySize     0
FurLength        0
Vaccinated       0
Dewormed         0
Sterilized       0
Health           0
Quantity         0
VideoAmt         0
PhotoAmt         0
AdoptionSpeed    0
word_count       0
Fee_bins         0
dtype: int64

Export cleaned training data

In [31]:
db_string = f"postgresql+psycopg2://postgres:{password}@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres"
engine = create_engine(db_string)
cleaned_pet_df.to_sql(name='cleaned_train', con=engine, if_exists='replace')