In [1]:
# load in csv
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving train.csv to train.csv
User uploaded file "train.csv" with length 6690166 bytes

In [2]:
# load in dependencies
import pandas as pd

import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example: spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [73.0 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [808 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,813 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,400 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,218 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [928 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [637 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [26.8 kB]
Get:24 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,437 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [34.5 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,864 kB]
Get:27 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [697 kB]
Fetched 14.2 MB in 3s (4,079 kB/s)
Reading package lists... Done

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.ml.feature import Tokenizer
from pyspark.sql.functions import col, udf, isnan, count
from pyspark.sql.types import IntegerType
spark = SparkSession.builder.appName("Tokens").getOrCreate()

In [4]:
# read csv into datafram to expore
raw_pet_df = pd.read_csv('train.csv')
raw_pet_df.head()

   Type         Name  Age  ...      PetID  PhotoAmt  AdoptionSpeed
0     2       Nibble    3  ...  86e1089a3       1.0              2
1     2  No Name Yet    1  ...  6296e909a       2.0              0
2     1       Brisco    1  ...  3422e4906       7.0              3
3     1         Miko    4  ...  5842f1ff5       8.0              2
4     1       Hunter    1  ...  850a43f90       3.0              2

[5 rows x 24 columns]

Explore Raw Data

In [5]:
# get column names
raw_pet_df.columns

Index(['Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2',
       'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed',
       'Sterilized', 'Health', 'Quantity', 'Fee', 'State', 'RescuerID',
       'VideoAmt', 'Description', 'PetID', 'PhotoAmt', 'AdoptionSpeed'],
      dtype='object')

In [6]:
# check for null values
raw_pet_df.isnull().sum()

Type                0
Name             1257
Age                 0
Breed1              0
Breed2              0
Gender              0
Color1              0
Color2              0
Color3              0
MaturitySize        0
FurLength           0
Vaccinated          0
Dewormed            0
Sterilized          0
Health              0
Quantity            0
Fee                 0
State               0
RescuerID           0
VideoAmt            0
Description        12
PetID               0
PhotoAmt            0
AdoptionSpeed       0
dtype: int64

In [7]:
raw_pet_df.count()

Type             14993
Name             13736
Age              14993
Breed1           14993
Breed2           14993
Gender           14993
Color1           14993
Color2           14993
Color3           14993
MaturitySize     14993
FurLength        14993
Vaccinated       14993
Dewormed         14993
Sterilized       14993
Health           14993
Quantity         14993
Fee              14993
State            14993
RescuerID        14993
VideoAmt         14993
Description      14981
PetID            14993
PhotoAmt         14993
AdoptionSpeed    14993
dtype: int64

In [8]:
# check datatypes
raw_pet_df.dtypes

Type               int64
Name              object
Age                int64
Breed1             int64
Breed2             int64
Gender             int64
Color1             int64
Color2             int64
Color3             int64
MaturitySize       int64
FurLength          int64
Vaccinated         int64
Dewormed           int64
Sterilized         int64
Health             int64
Quantity           int64
Fee                int64
State              int64
RescuerID         object
VideoAmt           int64
Description       object
PetID             object
PhotoAmt         float64
AdoptionSpeed      int64
dtype: object

# Clean training data for model

Remove columns: Name, State, RescurerID, PetID since they are all identfication data. Keep PetID until cleaning done incase need something to merge on

In [9]:
#remove noisy data
pet_df = raw_pet_df.drop(["Name", "State", "RescuerID"], axis=1)
pet_df.head()

   Type  Age  Breed1  ...      PetID  PhotoAmt  AdoptionSpeed
0     2    3     299  ...  86e1089a3       1.0              2
1     2    1     265  ...  6296e909a       2.0              0
2     1    1     307  ...  3422e4906       7.0              3
3     1    4     307  ...  5842f1ff5       8.0              2
4     1    1     307  ...  850a43f90       3.0              2

[5 rows x 21 columns]

In [10]:
#make sure no nulls
pet_df.isnull().sum()

Type              0
Age               0
Breed1            0
Breed2            0
Gender            0
Color1            0
Color2            0
Color3            0
MaturitySize      0
FurLength         0
Vaccinated        0
Dewormed          0
Sterilized        0
Health            0
Quantity          0
Fee               0
VideoAmt          0
Description      12
PetID             0
PhotoAmt          0
AdoptionSpeed     0
dtype: int64

In [11]:
#drop nulls in descripion since only a few rows of data will be lost (12)
pet_df.dropna(inplace=True)

In [12]:
pet_df.isnull().sum()

Type             0
Age              0
Breed1           0
Breed2           0
Gender           0
Color1           0
Color2           0
Color3           0
MaturitySize     0
FurLength        0
Vaccinated       0
Dewormed         0
Sterilized       0
Health           0
Quantity         0
Fee              0
VideoAmt         0
Description      0
PetID            0
PhotoAmt         0
AdoptionSpeed    0
dtype: int64

In [13]:
pet_df.count

<bound method DataFrame.count of        Type  Age  Breed1  ...      PetID  PhotoAmt  AdoptionSpeed
0         2    3     299  ...  86e1089a3       1.0              2
1         2    1     265  ...  6296e909a       2.0              0
2         1    1     307  ...  3422e4906       7.0              3
3         1    4     307  ...  5842f1ff5       8.0              2
4         1    1     307  ...  850a43f90       3.0              2
...     ...  ...     ...  ...        ...       ...            ...
14988     2    2     266  ...  dc0935a84       3.0              2
14989     2   60     265  ...  a01ab5b30       3.0              4
14990     2    2     265  ...  d981b6395       5.0              3
14991     2    9     266  ...  e4da1c9e4       3.0              4
14992     1    1     307  ...  a83d95ead       1.0              3

[14981 rows x 21 columns]>

In [14]:
quant_counts = pet_df['Quantity'].value_counts()
quant_counts

1     11556
2      1420
3       726
4       530
5       333
6       185
7        84
8        52
9        33
10       19
20       12
11       10
12        6
15        4
17        3
16        3
13        2
14        2
18        1
Name: Quantity, dtype: int64

bin 6 and greater

Quantity number defintions will now equal:
- 1 - 1 pet
- 2 - 2 pets
- 3 - 3 pets
- 4 - 4 pets
- 5 - 5 pets
- 6 - 6 or more

In [15]:
# Determine which values to replace if counts are less than ...?
replace_quant = list(quant_counts[quant_counts < 200].index)

# Replace in dataframe
for quant in replace_quant:
    pet_df.Quantity = pet_df.Quantity.replace(replace_quant,6)
    
# Check to make sure binning was successful
pet_df.Quantity.value_counts()

1    11556
2     1420
3      726
4      530
6      416
5      333
Name: Quantity, dtype: int64

In [16]:
pet_df['Fee'].value_counts()

0      12652
50       468
100      408
200      219
150      162
       ...
210        1
99         1
330        1
75         1
599        1
Name: Fee, Length: 74, dtype: int64

make fee bins 0 (free), 1-50, 51-100, 101-150, 151-200, 201+

Fee_bins defintion
- 0 free
- 1 fee 1-50
- 2 fee 51-100
- 3 fee 101-150
- 4 fee 151-200
- 5 fee 201+

In [17]:
# Create the bins in which Data will be held
bins = [-1, 0, 50, 100, 150, 200, 5000]

# Create the names for the bins
group_names = [0, 1, 2, 3, 4, 5]

In [18]:
pet_df["Fee_bins"] = pd.cut(pet_df["Fee"], bins, labels=group_names)
pet_df.head(20)

    Type  Age  Breed1  Breed2  ...      PetID  PhotoAmt  AdoptionSpeed  Fee_bins
0      2    3     299       0  ...  86e1089a3       1.0              2         2
1      2    1     265       0  ...  6296e909a       2.0              0         0
2      1    1     307       0  ...  3422e4906       7.0              3         0
3      1    4     307       0  ...  5842f1ff5       8.0              2         3
4      1    1     307       0  ...  850a43f90       3.0              2         0
5      2    3     266       0  ...  d24c30b4b       2.0              2         0
6      2   12     264     264  ...  1caa6fcdb       3.0              1         5
7      1    0     307       0  ...  97aa9eeac       9.0              3         0
8      2    2     265       0  ...  c06d167ca       6.0              1         0
9      2   12     265       0  ...  7a0942d61       2.0              4         0
10     1    2     307       0  ...  8b693ca84       7.0              1         0
11     2    3     264       0  ...  8e76c8e39       2.0              1         1
12     1    2     307       0  ...  aaedd873d       1.0              2         0
13     2    2     265       0  ...  4a9793dfb       1.0              1         0
14     1    3     307       0  ...  c02be41e6       2.0              2         0
15     1   78     218     205  ...  1fd342e17       2.0              4         0
16     2    6     266       0  ...  b38a74866       1.0              3         0
17     1    8     307     307  ...  f9d07d5fa       2.0              4         1
18     1    2     307       0  ...  1c92ce464       8.0              2         0
19     2    1     266       0  ...  b10e7605a       1.0              4         0

[20 rows x 22 columns]

In [ ]:
pet_df.isnull().sum()

Type             0
Age              0
Breed1           0
Breed2           0
Gender           0
Color1           0
Color2           0
Color3           0
MaturitySize     0
FurLength        0
Vaccinated       0
Dewormed         0
Sterilized       0
Health           0
Quantity         0
Fee              0
VideoAmt         0
Description      0
PetID            0
PhotoAmt         0
AdoptionSpeed    0
Fee_bins         0
dtype: int64

In [20]:
photo_count = pet_df['PhotoAmt'].value_counts()
photo_count

1.0     3072
2.0     2516
3.0     2508
5.0     2146
4.0     1879
6.0      621
7.0      432
0.0      340
8.0      314
9.0      231
10.0     190
11.0     184
12.0      97
13.0      86
14.0      78
15.0      50
16.0      39
17.0      27
20.0      25
19.0      20
30.0      19
18.0      18
21.0      16
24.0      15
23.0      12
26.0      10
22.0       9
25.0       8
28.0       7
27.0       6
29.0       6
Name: PhotoAmt, dtype: int64

bin 12 and great photo amounts

PhotoAmt number defintions will now equal:
- 0 - no pics
- 1 - 1 pic
- 2 - 2 pics
- 3 - 3 pics
- 4 - 4 pics
- 5 - 5 pics
- 6 - 6 pics
- 7 - 7 pics
- 8 - 8 pics
- 9 - 9 pics
- 10 - 10 pics
- 11 - 11 pics
- 12 - 12 pics
- 13 - 13 or more pics

In [21]:
# Determine which values to replace if counts are less than ...?
replace_photo = list(photo_count[photo_count < 90].index)

# Replace in dataframe
for photo in replace_photo:
    pet_df.PhotoAmt = pet_df.PhotoAmt.replace(replace_photo,13)
    
# Check to make sure binning was successful
pet_df.PhotoAmt.value_counts()

1.0     3072
2.0     2516
3.0     2508
5.0     2146
4.0     1879
6.0      621
13.0     451
7.0      432
0.0      340
8.0      314
9.0      231
10.0     190
11.0     184
12.0      97
Name: PhotoAmt, dtype: int64

In [22]:
vid_count = pet_df['VideoAmt'].value_counts()
vid_count

0    14407
1      417
2       92
3       36
4       15
5        7
6        4
8        2
7        1
Name: VideoAmt, dtype: int64

Find lenght of words in desciption column to allow for some assesment of description

In [23]:
dataframe = spark.read.csv("train.csv", sep=",", header=True)
dataframe.show(5)

+----+-----------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+---------+--------+-------------+
|Type|       Name|Age|Breed1|Breed2|Gender|Color1|Color2|Color3|MaturitySize|FurLength|Vaccinated|Dewormed|Sterilized|Health|Quantity|Fee|State|           RescuerID|VideoAmt|         Description|    PetID|PhotoAmt|AdoptionSpeed|
+----+-----------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+---------+--------+-------------+
|   2|     Nibble|  3|   299|     0|     1|     1|     7|     0|           1|        1|         2|       2|         2|     1|       1|100|41326|8480853f516546f6c...|       0|Nibble is a 3+ mo...|86e1089a3|     1.0|            2|
|   2|No Name Yet|  1|   265|     0|     1|     1|     2|     0|           2|        2|         3|       3|         3|     1|       1|  0|41401|3082c7125d8fb66f7...|       0|I just found it a...|6296e909a|     2.0|            0|
|   1|     Brisco|  1|   307|     0|     1|     2|     7|     0|           2|        2|         1|       1|         2|     1|       1|  0|41326|fa90fa5b1ee11c869...|       0|Their pregnant mo...|3422e4906|     7.0|            3|
|   1|       Miko|  4|   307|     0|     2|     1|     2|     0|           2|        1|         1|       1|         2|     1|       1|150|41401|9238e4f44c71a7528...|       0|Good guard dog, v...|5842f1ff5|     8.0|            2|
|   1|     Hunter|  1|   307|     0|     1|     1|     0|     0|           2|        1|         2|       2|         2|     1|       1|  0|41326|95481e953f8aed9ec...|       0|This handsome yet...|850a43f90|     3.0|            2|
+----+-----------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+---------+--------+-------------+
only showing top 5 rows

In [24]:
# check for nulls https://stackoverflow.com/questions/44627386/how-to-find-count-of-null-and-nan-values-for-each-column-in-a-pyspark-dataframe
Dict_Null = {col:dataframe.filter(dataframe[col].isNull()).count() for col in dataframe.columns}
Dict_Null

{'AdoptionSpeed': 0,
 'Age': 0,
 'Breed1': 0,
 'Breed2': 0,
 'Color1': 0,
 'Color2': 0,
 'Color3': 0,
 'Description': 0,
 'Dewormed': 0,
 'Fee': 0,
 'FurLength': 0,
 'Gender': 0,
 'Health': 0,
 'MaturitySize': 0,
 'Name': 1257,
 'PetID': 0,
 'PhotoAmt': 0,
 'Quantity': 0,
 'RescuerID': 0,
 'State': 0,
 'Sterilized': 0,
 'Type': 0,
 'Vaccinated': 0,
 'VideoAmt': 0}

In [25]:
#pyspark changed empty to nan, so locate and drop https://stackoverflow.com/questions/52395986/remove-rows-from-dataframe-based-on-condition-in-pyspark
rows_to_delete=dataframe.filter(dataframe.Description == 'nan')
rows_to_delete.show()

+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+-----------+---------+--------+-------------+
|Type|                Name|Age|Breed1|Breed2|Gender|Color1|Color2|Color3|MaturitySize|FurLength|Vaccinated|Dewormed|Sterilized|Health|Quantity|Fee|State|           RescuerID|VideoAmt|Description|    PetID|PhotoAmt|AdoptionSpeed|
+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+-----------+---------+--------+-------------+
|   2|               Manja| 19|   285|     0|     2|     1|     6|     0|           3|        3|         1|       1|         2|     1|       1|  0|41401|12c51d7222986fbf0...|       0|        nan|5e4154870|     3.0|            1|
|   2|              Mickey|  2|   264|     0|     1|     1|     7|     0|           2|        2|         2|       2|         2|     1|       1|  0|41401|bb7e38ebd628443ce...|       0|        nan|56583003c|     3.0|            4|
|   2|               Pucci|  6|   266|   292|     1|     1|     6|     0|           1|        1|         1|       1|         3|     1|       1|  0|41326|90b00f90ffdf9ec1c...|       0|        nan|8c4c4bc6e|     1.0|            4|
|   1|Chelsea And Sherbert| 31|   307|     0|     2|     1|     2|     7|           2|        2|         1|       1|         1|     1|       2|  0|41401|c814d8b7928da23e3...|       0|        nan|50eddd1bb|     3.0|            2|
|   2|                 Mog| 84|   266|     0|     1|     3|     0|     0|           3|        1|         1|       1|         1|     1|       1|  0|41401|bc630ee7cec2fa789...|       0|        nan|9d82e4438|     5.0|            2|
|   2|              Brumby|  2|   299|     0|     1|     1|     7|     0|           2|        1|         2|       1|         2|     1|       1|  0|41326|744fa4278196568a1...|       0|        nan|ba16888d7|     2.0|            2|
|   2|        Oshin & Lola|  3|   254|   254|     2|     2|     7|     0|           1|        1|         2|       2|         3|     1|       2|  0|41326|6a33f105d818ce64d...|       0|        nan|4ec25bc3b|     4.0|            3|
|   2|            KANTHAKA|  2|   299|     0|     2|     1|     7|     0|           2|        1|         2|       1|         2|     1|       1|  0|41326|744fa4278196568a1...|       0|        nan|97f0a97ef|     1.0|            2|
|   1|             Unknown|  0|   307|     0|     1|     5|     7|     0|           2|        2|         3|       3|         3|     2|       1|  0|41326|f0997d267a9acadd4...|       0|        nan|f67786a70|     0.0|            4|
|   2|                   J| 25|   292|   292|     1|     2|     0|     0|           3|        1|         1|       1|         1|     1|       1|  0|41326|0bda3ae2e5c78a3b2...|       0|        nan|f775ef952|     1.0|            2|
|   1|                 Ben|  7|   109|     0|     1|     3|     0|     0|           3|        2|         1|       1|         1|     1|       1|250|41326|64c0b95d07c9e6d3e...|       0|        nan|453750088|     4.0|            1|
|   2|             No Name|  1|   266|     0|     3|     2|     7|     0|           1|        1|         3|       3|         3|     2|       4|  0|41401|d1b04577a08e6b77c...|       0|        nan|437d65d38|     2.0|            4|
+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+-----------+---------+--------+-------------+

In [26]:
#delete those 12 so df will match panadas one
dataframe = dataframe.join(rows_to_delete, on="PetID", how='left_anti')
dataframe.show()

+---------+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+
|    PetID|Type|                Name|Age|Breed1|Breed2|Gender|Color1|Color2|Color3|MaturitySize|FurLength|Vaccinated|Dewormed|Sterilized|Health|Quantity|Fee|State|           RescuerID|VideoAmt|         Description|PhotoAmt|AdoptionSpeed|
+---------+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+
|86e1089a3|   2|              Nibble|  3|   299|     0|     1|     1|     7|     0|           1|        1|         2|       2|         2|     1|       1|100|41326|8480853f516546f6c...|       0|Nibble is a 3+ mo...|     1.0|            2|
|6296e909a|   2|         No Name Yet|  1|   265|     0|     1|     1|     2|     0|           2|        2|         3|       3|         3|     1|       1|  0|41401|3082c7125d8fb66f7...|       0|I just found it a...|     2.0|            0|
|3422e4906|   1|              Brisco|  1|   307|     0|     1|     2|     7|     0|           2|        2|         1|       1|         2|     1|       1|  0|41326|fa90fa5b1ee11c869...|       0|Their pregnant mo...|     7.0|            3|
|5842f1ff5|   1|                Miko|  4|   307|     0|     2|     1|     2|     0|           2|        1|         1|       1|         2|     1|       1|150|41401|9238e4f44c71a7528...|       0|Good guard dog, v...|     8.0|            2|
|850a43f90|   1|              Hunter|  1|   307|     0|     1|     1|     0|     0|           2|        1|         2|       2|         2|     1|       1|  0|41326|95481e953f8aed9ec...|       0|This handsome yet...|     3.0|            2|
|d24c30b4b|   2|                null|  3|   266|     0|     2|     5|     6|     0|           2|        1|         2|       2|         2|     1|       1|  0|41326|22fe332bf9c924d47...|       0|This is a stray k...|     2.0|            2|
|1caa6fcdb|   2|               BULAT| 12|   264|   264|     1|     1|     0|     0|           2|        3|         2|       2|         3|     1|       1|300|41326|1e0b5a458b5b77f5a...|       0|anyone within the...|     3.0|            1|
|97aa9eeac|   1|Siu Pak & Her 6 P...|  0|   307|     0|     2|     1|     2|     7|           2|        1|         2|       2|         2|     1|       6|  0|41326|1fba5f6e548094625...|       0|Siu Pak just give...|     9.0|            3|
|c06d167ca|   2|                null|  2|   265|     0|     2|     6|     0|     0|           2|        2|         2|       2|         2|     1|       1|  0|41326|d8af7afece7133447...|       0|healthy and activ...|     6.0|            1|
|7a0942d61|   2|               Kitty| 12|   265|     0|     2|     1|     7|     0|           2|        2|         3|       3|         3|     1|       1|  0|41326|1f3f36e4b18e94855...|       0|Very manja and ge...|     2.0|            4|
|8b693ca84|   1|                Bear|  2|   307|     0|     1|     1|     2|     7|           2|        1|         2|       1|         2|     1|       1|  0|41401|9238e4f44c71a7528...|       0|For serious adopt...|     7.0|            1|
|8e76c8e39|   2|                Kali|  3|   264|     0|     2|     1|     2|     5|           3|        3|         1|       1|         2|     1|       1| 50|41326|a9caef3f98e67bfac...|       0|Kali is a super p...|     2.0|            1|
|aaedd873d|   1|              Peanut|  2|   307|     0|     1|     2|     5|     6|           2|        3|         1|       1|         2|     1|       1|  0|41326|db784cbcf321e1d88...|       0|Peanut was an abu...|     1.0|            2|
|4a9793dfb|   2|2 Mths Old Cute K...|  2|   265|     0|     3|     1|     6|     7|           1|        2|         2|       2|         3|     1|       7|  0|41326|2c118b2a1d1b4cf1f...|       0|Hi Pet Lovers! Th...|     1.0|            1|
|c02be41e6|   1|            Lost Dog|  3|   307|     0|     2|     2|     5|     7|           2|        2|         3|       3|         3|     1|       1|  0|41401|b609c40c6c840db20...|       0|Lost Dog Found (B...|     2.0|            2|
|1fd342e17|   1|                 Max| 78|   218|   205|     1|     1|     7|     0|           2|        2|         3|       3|         3|     1|       1|  0|41326|39112c637c80a6055...|       0|We moved out of o...|     2.0|            4|
|b38a74866|   2|             Brownie|  6|   266|     0|     2|     2|     0|     0|           1|        1|         1|       1|         1|     1|       1|  0|41326|58e3aa0b4b78e8879...|       0|to be spayed on /...|     1.0|            3|
|f9d07d5fa|   1|             Blackie|  8|   307|   307|     2|     2|     0|     0|           2|        1|         2|       1|         1|     1|       1| 10|41330|4e3dec1544d1407fc...|       0|shes active... sh...|     2.0|            4|
|1c92ce464|   1|              Beauty|  2|   307|     0|     2|     1|     0|     0|           2|        1|         2|       1|         2|     1|       1|  0|41401|9238e4f44c71a7528...|       0|This cutie dumped...|     8.0|            2|
|b10e7605a|   2|                null|  1|   266|     0|     3|     1|     2|     7|           1|        1|         2|       2|         2|     1|       5|  0|41326|b752f78276215f445...|       0|Birth Date: Oct 3...|     1.0|            4|
+---------+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+
only showing top 20 rows

In [27]:
# Tokenize sentences
tokenizer = Tokenizer(inputCol="Description", outputCol="words")
tokenizer

Tokenizer_a824321be84a

In [28]:
tokenized_pet = tokenizer.transform(dataframe)
tokenized_pet.show(5)

+---------+----+-----------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+--------------------+
|    PetID|Type|       Name|Age|Breed1|Breed2|Gender|Color1|Color2|Color3|MaturitySize|FurLength|Vaccinated|Dewormed|Sterilized|Health|Quantity|Fee|State|           RescuerID|VideoAmt|         Description|PhotoAmt|AdoptionSpeed|               words|
+---------+----+-----------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+--------------------+
|86e1089a3|   2|     Nibble|  3|   299|     0|     1|     1|     7|     0|           1|        1|         2|       2|         2|     1|       1|100|41326|8480853f516546f6c...|       0|Nibble is a 3+ mo...|     1.0|            2|[nibble, is, a, 3...|
|6296e909a|   2|No Name Yet|  1|   265|     0|     1|     1|     2|     0|           2|        2|         3|       3|         3|     1|       1|  0|41401|3082c7125d8fb66f7...|       0|I just found it a...|     2.0|            0|[i, just, found, ...|
|3422e4906|   1|     Brisco|  1|   307|     0|     1|     2|     7|     0|           2|        2|         1|       1|         2|     1|       1|  0|41326|fa90fa5b1ee11c869...|       0|Their pregnant mo...|     7.0|            3|[their, pregnant,...|
|5842f1ff5|   1|       Miko|  4|   307|     0|     2|     1|     2|     0|           2|        1|         1|       1|         2|     1|       1|150|41401|9238e4f44c71a7528...|       0|Good guard dog, v...|     8.0|            2|[good, guard, dog...|
|850a43f90|   1|     Hunter|  1|   307|     0|     1|     1|     0|     0|           2|        1|         2|       2|         2|     1|       1|  0|41326|95481e953f8aed9ec...|       0|This handsome yet...|     3.0|            2|[this, handsome, ...|
+---------+----+-----------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+--------------------+
only showing top 5 rows

In [29]:
# Create a function to return the length of a list
def word_list_length(word_list):
    return len(word_list)

In [30]:
# Create a user defined function
count_tokens = udf(word_list_length, IntegerType())

In [31]:
# get count of words
token = tokenized_pet.withColumn('word_count', count_tokens(col("words")))
token.show(10)

+---------+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+--------------------+----------+
|    PetID|Type|                Name|Age|Breed1|Breed2|Gender|Color1|Color2|Color3|MaturitySize|FurLength|Vaccinated|Dewormed|Sterilized|Health|Quantity|Fee|State|           RescuerID|VideoAmt|         Description|PhotoAmt|AdoptionSpeed|               words|word_count|
+---------+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+--------------------+----------+
|86e1089a3|   2|              Nibble|  3|   299|     0|     1|     1|     7|     0|           1|        1|         2|       2|         2|     1|       1|100|41326|8480853f516546f6c...|       0|Nibble is a 3+ mo...|     1.0|            2|[nibble, is, a, 3...|        69|
|6296e909a|   2|         No Name Yet|  1|   265|     0|     1|     1|     2|     0|           2|        2|         3|       3|         3|     1|       1|  0|41401|3082c7125d8fb66f7...|       0|I just found it a...|     2.0|            0|[i, just, found, ...|        23|
|3422e4906|   1|              Brisco|  1|   307|     0|     1|     2|     7|     0|           2|        2|         1|       1|         2|     1|       1|  0|41326|fa90fa5b1ee11c869...|       0|Their pregnant mo...|     7.0|            3|[their, pregnant,...|        69|
|5842f1ff5|   1|                Miko|  4|   307|     0|     2|     1|     2|     0|           2|        1|         1|       1|         2|     1|       1|150|41401|9238e4f44c71a7528...|       0|Good guard dog, v...|     8.0|            2|[good, guard, dog...|        25|
|850a43f90|   1|              Hunter|  1|   307|     0|     1|     1|     0|     0|           2|        1|         2|       2|         2|     1|       1|  0|41326|95481e953f8aed9ec...|       0|This handsome yet...|     3.0|            2|[this, handsome, ...|        81|
|d24c30b4b|   2|                null|  3|   266|     0|     2|     5|     6|     0|           2|        1|         2|       2|         2|     1|       1|  0|41326|22fe332bf9c924d47...|       0|This is a stray k...|     2.0|            2|[this, is, a, str...|        18|
|1caa6fcdb|   2|               BULAT| 12|   264|   264|     1|     1|     0|     0|           2|        3|         2|       2|         3|     1|       1|300|41326|1e0b5a458b5b77f5a...|       0|anyone within the...|     3.0|            1|[anyone, within, ...|        78|
|97aa9eeac|   1|Siu Pak & Her 6 P...|  0|   307|     0|     2|     1|     2|     7|           2|        1|         2|       2|         2|     1|       6|  0|41326|1fba5f6e548094625...|       0|Siu Pak just give...|     9.0|            3|[siu, pak, just, ...|        20|
|c06d167ca|   2|                null|  2|   265|     0|     2|     6|     0|     0|           2|        2|         2|       2|         2|     1|       1|  0|41326|d8af7afece7133447...|       0|healthy and activ...|     6.0|            1|[healthy, and, ac...|        13|
|7a0942d61|   2|               Kitty| 12|   265|     0|     2|     1|     7|     0|           2|        2|         3|       3|         3|     1|       1|  0|41326|1f3f36e4b18e94855...|       0|Very manja and ge...|     2.0|            4|[very, manja, and...|        45|
+---------+----+--------------------+---+------+------+------+------+------+------+------------+---------+----------+--------+----------+------+--------+---+-----+--------------------+--------+--------------------+--------+-------------+--------------------+----------+
only showing top 10 rows

merge dataframes
word_count definition - lenght of words in description column so we can perform analysis on it

In [32]:
#convert to pandas
token_df = token.toPandas()
token_df.head()

       PetID  ... word_count
0  86e1089a3  ...         69
1  6296e909a  ...         23
2  3422e4906  ...         69
3  5842f1ff5  ...         25
4  850a43f90  ...         81

[5 rows x 26 columns]

In [33]:
token_df.isnull().sum()

PetID               0
Type                0
Name             1257
Age                 0
Breed1              0
Breed2              0
Gender              0
Color1              0
Color2              0
Color3              0
MaturitySize        0
FurLength           0
Vaccinated          0
Dewormed            0
Sterilized          0
Health              0
Quantity            0
Fee                 0
State               0
RescuerID           0
VideoAmt            0
Description         0
PhotoAmt            0
AdoptionSpeed       0
words               0
word_count          0
dtype: int64

In [34]:
token_wc_df = token_df[['PetID','word_count']]
token_wc_df.head(10)

       PetID  word_count
0  86e1089a3          69
1  6296e909a          23
2  3422e4906          69
3  5842f1ff5          25
4  850a43f90          81
5  d24c30b4b          18
6  1caa6fcdb          78
7  97aa9eeac          20
8  c06d167ca          13
9  7a0942d61          45

In [35]:
token_wc_df.isnull().sum()

PetID         0
word_count    0
dtype: int64

In [36]:
merged_pet_df = pet_df.merge(token_wc_df, how='left', on='PetID')
merged_pet_df.head()

   Type  Age  Breed1  Breed2  ...  PhotoAmt  AdoptionSpeed  Fee_bins  word_count
0     2    3     299       0  ...       1.0              2         2        69.0
1     2    1     265       0  ...       2.0              0         0        23.0
2     1    1     307       0  ...       7.0              3         0        69.0
3     1    4     307       0  ...       8.0              2         3        25.0
4     1    1     307       0  ...       3.0              2         0        81.0

[5 rows x 23 columns]

In [37]:
merged_pet_df.isnull().sum()

Type               0
Age                0
Breed1             0
Breed2             0
Gender             0
Color1             0
Color2             0
Color3             0
MaturitySize       0
FurLength          0
Vaccinated         0
Dewormed           0
Sterilized         0
Health             0
Quantity           0
Fee                0
VideoAmt           0
Description        0
PetID              0
PhotoAmt           0
AdoptionSpeed      0
Fee_bins           0
word_count       365
dtype: int64

In [38]:
#check for duplicate petIds - try and figure out why there are now nulls
merged_pet_df.duplicated().sum()

0

In [39]:
merged_pet_df.loc[merged_pet_df['word_count'].isnull()]

       Type  Age  Breed1  Breed2  ...  PhotoAmt  AdoptionSpeed  Fee_bins  word_count
121       1   12     206       0  ...       1.0              2         5         NaN
134       1   32     307     307  ...       5.0              4         0         NaN
141       2    2     265       0  ...       4.0              2         0         NaN
143       2    4     265     247  ...       5.0              2         0         NaN
185       1   36     307       0  ...       3.0              4         0         NaN
...     ...  ...     ...     ...  ...       ...            ...       ...         ...
14820     1   12     307       0  ...       1.0              1         0         NaN
14873     2    2     266       0  ...       5.0              2         0         NaN
14897     2    3     289     306  ...       5.0              2         0         NaN
14904     1    3     307       0  ...      11.0              2         0         NaN
14908     1   48     189     307  ...       1.0              2         0         NaN

[365 rows x 23 columns]

drop these 365??? find another way??? need to talk to team -- pause here

In [ ]:
# drop fee column and description
cleaned_pet_df = merged_pet_df.drop(["Fee", "Description", "PetID"], axis=1)
cleaned_pet_df.head()

   Type  Age  Breed1  Breed2  ...  PhotoAmt  AdoptionSpeed  Fee_bins  word_count
0     2    3     299       0  ...       1.0              2         2        69.0
1     2    1     265       0  ...       2.0              0         0        23.0
2     1    1     307       0  ...       7.0              3         0        69.0
3     1    4     307       0  ...       8.0              2         3        25.0
4     1    1     307       0  ...       3.0              2         0        81.0

[5 rows x 20 columns]

In [ ]:
cleaned_pet_df.isnull().sum()

Type               0
Age                0
Breed1             0
Breed2             0
Gender             0
Color1             0
Color2             0
Color3             0
MaturitySize       0
FurLength          0
Vaccinated         0
Dewormed           0
Sterilized         0
Health             0
Quantity           0
VideoAmt           0
PhotoAmt           0
AdoptionSpeed      0
Fee_bins           0
word_count       365
dtype: int64

Export cleaned training data

In [ ]:
# from https://stackoverflow.com/questions/53898836/export-dataframe-as-csv-file-from-google-colab-to-google-drive/60733479
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
# export cleaned data/df to new csv
cleaned_pet_df.to_csv('cleaned_train.csv', index=False)
!cp cleaned_train.csv "drive/My Drive/"