### Color_label
1	Black:
2	Brown:
3	Golden:
4	Yellow:
5	Cream:
6	Gray:
7	White:
### Adoptionspeed_label
0: adopted on the same day of listing 
    
1: adopted on the first week of listing
    
2: adopted on the first month of listing(7-30 days)
    
3: adopted on the 2nd and 3rd month of listing
    
4: stayed over 90 days of listing

In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from collections import Counter
from sklearn.metrics import confusion_matrix

In [2]:
columns = ["TYPE","AGE","BREEDID1","BREEDID2","GENDER","COLORID1","COLORID2","COLORID3","MATURITY_SIZE","FUR_LENGTH",
           "VACCINATED","DEWORMED","STERILIZED","HEALTH","FEE"]
target = ["ADOPTION SPEED"]

In [3]:
# Loading data
file_path = Path("Data/pet_mockup.csv")
df_mockup = pd.read_csv(file_path)
# Drop the null columns where all values are null
df_mockup = df_mockup.dropna(axis='columns')
df_mockup

,TYPE,AGE,BREEDID1,GENDER,COLORID1,MATURITY_SIZE,FUR_LENGTH,VACCINATED,DEWORMED,STERILIZED,HEALTH,FEE,ADOPTION SPEED
0,1,8,1,1,1,1,1,1,1,1,1,0,0
1,2,16,306,2,4,1,2,1,1,1,2,0,1
2,1,10,3,2,2,2,1,1,1,1,1,50,2
3,1,24,5,1,3,2,2,3,1,2,1,0,3
4,2,8,300,1,7,1,3,2,1,1,1,25,4
5,2,12,241,2,6,1,2,1,1,1,1,0,2
6,2,100,300,1,1,1,1,3,1,1,1,20,3
7,1,8,200,2,7,3,3,2,1,1,1,50,1
8,1,20,111,1,4,3,2,1,2,2,2,0,4

In [4]:
df_mockup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TYPE            9 non-null      int64
 1   AGE             9 non-null      int64
 2   BREEDID1        9 non-null      int64
 3   GENDER          9 non-null      int64
 4   COLORID1        9 non-null      int64
 5   MATURITY_SIZE   9 non-null      int64
 6   FUR_LENGTH      9 non-null      int64
 7   VACCINATED      9 non-null      int64
 8   DEWORMED        9 non-null      int64
 9   STERILIZED      9 non-null      int64
 10  HEALTH          9 non-null      int64
 11  FEE             9 non-null      int64
 12  ADOPTION SPEED  9 non-null      int64
dtypes: int64(13)
memory usage: 1.0 KB

# Split the Data into Training and Testing

In [5]:
# Create our features
X = df_mockup.drop("ADOPTION SPEED", axis=1)
X = pd.get_dummies(X)

# Create our target
y = df_mockup["ADOPTION SPEED"]

In [6]:
X.describe()

,TYPE,AGE,BREEDID1,GENDER,COLORID1,MATURITY_SIZE,FUR_LENGTH,VACCINATED,DEWORMED,STERILIZED,HEALTH,FEE
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,1.444444,22.888889,163.000000,1.444444,3.888889,1.666667,1.888889,1.666667,1.111111,1.222222,1.222222,16.111111
std,0.527046,29.480690,134.606835,0.527046,2.368778,0.866025,0.781736,0.866025,0.333333,0.440959,0.440959,21.473498
min,1.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,8.000000,5.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,1.000000,12.000000,200.000000,1.000000,4.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000
75%,2.000000,20.000000,300.000000,2.000000,6.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,25.000000
max,2.000000,100.000000,306.000000,2.000000,7.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,50.000000

In [13]:
# Check the balance of our target values
y.value_counts()

1    2
2    2
3    2
4    2
0    1
Name: ADOPTION SPEED, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({1: 2, 0: 1, 4: 1, 3: 1, 2: 1})

In [ ]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## RandomForestClassifier

In [28]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=10, random_state=1)

In [29]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [30]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([3, 0, 3])

In [31]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.3333333333333333