In [1]:
# load in dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# keep password secure
from getpass import getpass
password = getpass('Enter database password')
# install postgres https://stackoverflow.com/questions/61030755/connect-to-postresql-database-from-google-colab
!pip install psycopg2-binary==2.9.2
!service postgresql start
!sudo -u postgres psql -c "CREATE USER postgres WITH SUPERUSER"
# set database connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://postgres:{password}@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres

Enter database password··········
Collecting psycopg2-binary==2.9.2
  Downloading psycopg2_binary-2.9.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 4.3 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.2
postgresql: unrecognized service
sudo: unknown user: postgres
sudo: unable to initialize policy plugin

'Connected: postgres@postgres'

In [3]:
# load in train.csv from data folder
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving train.csv to train.csv
User uploaded file "train.csv" with length 6690165 bytes

In [4]:
# read csv into datafram to expore
raw_pet_df = pd.read_csv('train.csv')
raw_pet_df.head()

   Type         Name  Age  ...      PetID  PhotoAmt  AdoptionSpeed
0     2       Nibble    3  ...  86e1089a3       1.0              2
1     2  No Name Yet    1  ...  6296e909a       2.0              0
2     1       Brisco    1  ...  3422e4906       7.0              3
3     1         Miko    4  ...  5842f1ff5       8.0              2
4     1       Hunter    1  ...  850a43f90       3.0              2

[5 rows x 24 columns]

go straight into data clean and transformation - explored data in training_data_cleaning, no need to repeat

# Clean and pre-process training data for model pass two

Remove columns: Name, State, RescurerID, PetID since they are all identfication data  and will not be used in model

In [5]:
#remove ID columns and make sure it worked right
pet_df = raw_pet_df.drop(["Name", "State", "RescuerID", "PetID"], axis=1)
pet_df.head()

   Type  Age  ...  PhotoAmt  AdoptionSpeed
0     2    3  ...       1.0              2
1     2    1  ...       2.0              0
2     1    1  ...       7.0              3
3     1    4  ...       8.0              2
4     1    1  ...       3.0              2

[5 rows x 20 columns]

We want to use the description in some way, given our timeline we will just find lenght of words in desciption column to allow for some assesment of description. This go on the transformation on Description column rid of stop words instead only only doing a generic count

In [6]:
# first check for nulls, function will not work with nulls (we tried that first)
pet_df.isnull().sum()

Type              0
Age               0
Breed1            0
Breed2            0
Gender            0
Color1            0
Color2            0
Color3            0
MaturitySize      0
FurLength         0
Vaccinated        0
Dewormed          0
Sterilized        0
Health            0
Quantity          0
Fee               0
VideoAmt          0
Description      12
PhotoAmt          0
AdoptionSpeed     0
dtype: int64

In [7]:
#rather than transform given so few rows, we will drop nulls in descripion since only 12 rows will be lost
pet_df.dropna(inplace=True)

In [8]:
# # make sure worked correctly
pet_df.isnull().sum()

Type             0
Age              0
Breed1           0
Breed2           0
Gender           0
Color1           0
Color2           0
Color3           0
MaturitySize     0
FurLength        0
Vaccinated       0
Dewormed         0
Sterilized       0
Health           0
Quantity         0
Fee              0
VideoAmt         0
Description      0
PhotoAmt         0
AdoptionSpeed    0
dtype: int64

drop stop words from description then perform word count

In [9]:
# https://pythonspot.com/nltk-stop-words/
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [10]:
# define stop words
stop_words = stopwords.words('english')

In [11]:
#create new column without stopwords
pet_df['Descpt_no_stopwords'] = pet_df['Description'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))
pet_df.head()

   Type  Age  ...  AdoptionSpeed                                Descpt_no_stopwords
0     2    3  ...              2  Nibble 3+ month old ball cuteness. He energeti...
1     2    1  ...              0  I found alone yesterday near apartment. It sha...
2     1    1  ...              3  Their pregnant mother dumped irresponsible own...
3     1    4  ...              2  Good guard dog, alert, active, obedience waiti...
4     1    1  ...              2  This handsome yet cute boy adoption. He playfu...

[5 rows x 21 columns]

In [12]:
# create function to count words in new description column
def get_num_of_words(description):
  word_list = description.split(" ")
  num_of_words = len(word_list)
  return num_of_words

In [13]:
# add new word count column and use funtion to add the word count data w/o stop words to dataframe
pet_df['optimized_word_count'] = pet_df['Descpt_no_stopwords'].apply(get_num_of_words)

In [14]:
# confirm worked
pet_df.optimized_word_count

0        39
1        14
2        42
3        17
4        43
         ..
14988    46
14989    23
14990     9
14991     9
14992    10
Name: optimized_word_count, Length: 14981, dtype: int64

repeat pre-processing from previous code

Look at the columns not already categorized in given Kaggle data to see if we want to bin/change in some way

In [15]:
# check counts on quantity
quant_counts = pet_df['Quantity'].value_counts()
quant_counts

1     11556
2      1420
3       726
4       530
5       333
6       185
7        84
8        52
9        33
10       19
20       12
11       10
12        6
15        4
17        3
16        3
13        2
14        2
18        1
Name: Quantity, dtype: int64

bin Quantity - there are too many values and that could pull model

Quantity number defintions will now equal:
- 1 - 1 pet
- 2 - 2 pets
- 3 - 3 pets
- 4 - 4 pets
- 5 - 5 pets
- 6 - 6 or more

In [16]:
# Determine which values to replace/transform
replace_quant = list(quant_counts[quant_counts < 200].index)

# Replace in dataframe
for quant in replace_quant:
    pet_df.Quantity = pet_df.Quantity.replace(replace_quant,6)
    
# Check to make sure binning was successful
pet_df.Quantity.value_counts()

1    11556
2     1420
3      726
4      530
6      416
5      333
Name: Quantity, dtype: int64

In [17]:
# check counts on fee
pet_df['Fee'].value_counts()

0      12652
50       468
100      408
200      219
150      162
       ...
210        1
99         1
330        1
75         1
599        1
Name: Fee, Length: 74, dtype: int64

make fee bins and new column to hold values - as there are too many values and that could pull model, and there appear to be a clear pattern

Fee_bins defintion
- 0 free
- 1 fee 1-50
- 2 fee 51-100
- 3 fee 101-150
- 4 fee 151-200
- 5 fee 201+

In [18]:
# Create the bins in which Data will be held
bins = [-1, 0, 50, 100, 150, 200, 5000]

# Create the names for the bins
group_names = [0, 1, 2, 3, 4, 5]

In [19]:
# add fee bins to dataframe
pet_df["Fee_bins"] = pd.cut(pet_df["Fee"], bins, labels=group_names)
pet_df.head(20)

    Type  Age  ...  optimized_word_count  Fee_bins
0      2    3  ...                    39         2
1      2    1  ...                    14         0
2      1    1  ...                    42         0
3      1    4  ...                    17         3
4      1    1  ...                    43         0
5      2    3  ...                    11         0
6      2   12  ...                    41         5
7      1    0  ...                    15         0
8      2    2  ...                    10         0
9      2   12  ...                    25         0
10     1    2  ...                     8         0
11     2    3  ...                    67         1
12     1    2  ...                    28         0
13     2    2  ...                    58         0
14     1    3  ...                    60         0
15     1   78  ...                    36         0
16     2    6  ...                     5         0
17     1    8  ...                    50         1
18     1    2  ...                    69         0
19     2    1  ...                    76         0

[20 rows x 23 columns]

In [20]:
# make sure no outlier fees were missed
pet_df.isnull().sum()

Type                    0
Age                     0
Breed1                  0
Breed2                  0
Gender                  0
Color1                  0
Color2                  0
Color3                  0
MaturitySize            0
FurLength               0
Vaccinated              0
Dewormed                0
Sterilized              0
Health                  0
Quantity                0
Fee                     0
VideoAmt                0
Description             0
PhotoAmt                0
AdoptionSpeed           0
Descpt_no_stopwords     0
optimized_word_count    0
Fee_bins                0
dtype: int64

In [21]:
# check counts on photos
photo_count = pet_df['PhotoAmt'].value_counts()
photo_count

1.0     3072
2.0     2516
3.0     2508
5.0     2146
4.0     1879
6.0      621
7.0      432
0.0      340
8.0      314
9.0      231
10.0     190
11.0     184
12.0      97
13.0      86
14.0      78
15.0      50
16.0      39
17.0      27
20.0      25
19.0      20
30.0      19
18.0      18
21.0      16
24.0      15
23.0      12
26.0      10
22.0       9
25.0       8
28.0       7
27.0       6
29.0       6
Name: PhotoAmt, dtype: int64

bin 13 and great photo amounts and greater as there are too many values and that could pull model, kept bins smaller as the values suggested only fairly steady higher counts up to 12

PhotoAmt number defintions will now equal:
- 0 - no pics
- 1 - 1 pic
- 2 - 2 pics
- 3 - 3 pics
- 4 - 4 pics
- 5 - 5 pics
- 6 - 6 pics
- 7 - 7 pics
- 8 - 8 pics
- 9 - 9 pics
- 10 - 10 pics
- 11 - 11 pics
- 12 - 12 pics
- 13 - 13 or more pics

In [22]:
# Determine which values to replace/transform
replace_photo = list(photo_count[photo_count < 90].index)

# Replace in dataframe
for photo in replace_photo:
    pet_df.PhotoAmt = pet_df.PhotoAmt.replace(replace_photo,13)
    
# Check to make sure binning was successful
pet_df.PhotoAmt.value_counts()

1.0     3072
2.0     2516
3.0     2508
5.0     2146
4.0     1879
6.0      621
13.0     451
7.0      432
0.0      340
8.0      314
9.0      231
10.0     190
11.0     184
12.0      97
Name: PhotoAmt, dtype: int64

In [23]:
#check video counts
vid_count = pet_df['VideoAmt'].value_counts()
vid_count

0    14407
1      417
2       92
3       36
4       15
5        7
6        4
8        2
7        1
Name: VideoAmt, dtype: int64

video amount has fewer than 10 values, left alone

In [24]:
#  all transformation done -- drop fee column, description, and decpt_no_stopwords
cleaned_pet_df = pet_df.drop(["Fee", "Description", "Descpt_no_stopwords"], axis=1)
cleaned_pet_df.head()

   Type  Age  Breed1  ...  AdoptionSpeed  optimized_word_count  Fee_bins
0     2    3     299  ...              2                    39         2
1     2    1     265  ...              0                    14         0
2     1    1     307  ...              3                    42         0
3     1    4     307  ...              2                    17         3
4     1    1     307  ...              2                    43         0

[5 rows x 20 columns]

In [25]:
#make sure no nulls in cleaned
cleaned_pet_df.isnull().sum()

Type                    0
Age                     0
Breed1                  0
Breed2                  0
Gender                  0
Color1                  0
Color2                  0
Color3                  0
MaturitySize            0
FurLength               0
Vaccinated              0
Dewormed                0
Sterilized              0
Health                  0
Quantity                0
VideoAmt                0
PhotoAmt                0
AdoptionSpeed           0
optimized_word_count    0
Fee_bins                0
dtype: int64

In [26]:
#change column names to get rid of capital letters which could cause issues for querying in database
final_pet_df = cleaned_pet_df.rename(columns={'Type': 'type', 'Age':'age', 'Breed1': 'breed1', 'Breed2' : 'breed2',
                                              'Gender': 'gender', 'Color1':'color1', 'Color2':'color2','Color3':'color3', 
                                              'MaturitySize': 'maturitysize', 'FurLength':'furlength', 'Vaccinated':'vaccinated', 
                                              'Dewormed': 'dewormed','Sterilized': 'sterilized', 'Health':'health', 'Quantity': 'quantity', 
                                              'VideoAmt':'videoamt', 'PhotoAmt':'photoamt', 'AdoptionSpeed':'adoptionspeed', 'Fee_bins':'fee_bins'})
final_pet_df.columns

Index(['type', 'age', 'breed1', 'breed2', 'gender', 'color1', 'color2',
       'color3', 'maturitysize', 'furlength', 'vaccinated', 'dewormed',
       'sterilized', 'health', 'quantity', 'videoamt', 'photoamt',
       'adoptionspeed', 'optimized_word_count', 'fee_bins'],
      dtype='object')

Export cleaned training data

In [27]:
db_string = f"postgresql+psycopg2://postgres:{password}@dataviz.c6b1qjayiqhf.us-west-2.rds.amazonaws.com:5432/postgres"
engine = create_engine(db_string)
final_pet_df.to_sql(name='cleaned_train_optimized', con=engine, if_exists='replace')